<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1j_5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{106,88}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,100},{106,88}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{106,88}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,100},{106,88}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,300},{106,88}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,100},{106,88}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,110},{106,98}}</string>
                <key>offset</key>
                <string>{0,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,90},{106,98}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,134}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,54},{106,134}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,128}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,60},{106,128}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,2},{106,108}}</string>
                <key>offset</key>
                <string>{0,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,80},{106,108}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{106,88}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,100},{106,88}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,210},{106,88}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,100},{106,88}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
            <key>1j_5_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{106,88}}</string>
                <key>offset</key>
                <string>{0,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{107,100},{106,88}}</string>
                <key>sourceSize</key>
                <string>{320,240}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>1J_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05ac1fc7745e936cde29b014110db64b:1/1$</string>
            <key>textureFileName</key>
            <string>1J_5.png</string>
        </dict>
    </dict>
</plist>
