<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2J_8_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{130,138}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,71},{130,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,134},{130,134}}</string>
                <key>offset</key>
                <string>{-5,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,75},{130,134}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,134},{130,132}}</string>
                <key>offset</key>
                <string>{-5,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,77},{130,132}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{120,172}}</string>
                <key>offset</key>
                <string>{0,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,37},{120,172}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,342},{120,146}}</string>
                <key>offset</key>
                <string>{0,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,63},{120,146}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,174},{120,166}}</string>
                <key>offset</key>
                <string>{0,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,43},{120,166}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,174}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,35},{120,174}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,170}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,39},{120,170}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{128,156}}</string>
                <key>offset</key>
                <string>{-4,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,53},{128,156}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_8_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{130,138}}</string>
                <key>offset</key>
                <string>{-5,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,71},{130,138}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2J_8.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8dc7eb966e7622d8b1dc0a7f5adb6fc5:1/1$</string>
            <key>textureFileName</key>
            <string>2J_8.png</string>
        </dict>
    </dict>
</plist>
