<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0006_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,90}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,177},{118,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{116,92}}</string>
                <key>offset</key>
                <string>{-16,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,175},{116,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{116,92}}</string>
                <key>offset</key>
                <string>{-17,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,175},{116,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,188},{114,90}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,177},{114,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{112,88}}</string>
                <key>offset</key>
                <string>{-17,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,180},{112,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{114,88}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,179},{114,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{116,90}}</string>
                <key>offset</key>
                <string>{-17,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,178},{116,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,96},{116,90}}</string>
                <key>offset</key>
                <string>{-16,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,177},{116,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,90}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,177},{118,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0006_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d53a29622e58f47112e2394654887ab2:1/1$</string>
            <key>textureFileName</key>
            <string>wj0006_1.png</string>
        </dict>
    </dict>
</plist>
