<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0003_6001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,106}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,147},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6003.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{140,96}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,150},{140,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6010.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,96},{134,92}}</string>
                <key>offset</key>
                <string>{2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,155},{134,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{122,124}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,122},{122,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{122,120}}</string>
                <key>offset</key>
                <string>{17,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,126},{122,120}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6020.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,190},{122,110}}</string>
                <key>offset</key>
                <string>{6,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,142},{122,110}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6023.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{140,92}}</string>
                <key>offset</key>
                <string>{-6,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,154},{140,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6024.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,100},{122,124}}</string>
                <key>offset</key>
                <string>{15,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,122},{122,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6029.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,224},{122,120}}</string>
                <key>offset</key>
                <string>{15,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,126},{122,120}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6035.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,190},{124,116}}</string>
                <key>offset</key>
                <string>{20,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,130},{124,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_6041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{140,106}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,147},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0003_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3ab61621a8975b95111fd12702ece175:1/1$</string>
            <key>textureFileName</key>
            <string>wj0003_4.png</string>
        </dict>
    </dict>
</plist>
