<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0003_7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{360,2},{140,106}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,147},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,276},{134,106}}</string>
                <key>offset</key>
                <string>{7,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,148},{134,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_7008.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,384},{122,116}}</string>
                <key>offset</key>
                <string>{40,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,117},{122,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_7013.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,110},{134,164}}</string>
                <key>offset</key>
                <string>{78,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,67},{134,164}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_7018.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,276},{176,184}}</string>
                <key>offset</key>
                <string>{63,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,67},{176,184}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_7022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{272,98}}</string>
                <key>offset</key>
                <string>{40,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{179,168},{272,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_7027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{316,80}}</string>
                <key>offset</key>
                <string>{46,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,172},{316,80}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_7032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{346,78}}</string>
                <key>offset</key>
                <string>{48,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,188},{346,78}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_7037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{356,68}}</string>
                <key>offset</key>
                <string>{48,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{145,198},{356,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0003_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ef44a674be0c144f13ca9015c4c3e06a:1/1$</string>
            <key>textureFileName</key>
            <string>wj0003_5.png</string>
        </dict>
    </dict>
</plist>
