<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0004_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{136,96}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,163},{136,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,96},{136,92}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,164},{136,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,96},{136,92}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,164},{136,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,310},{136,94}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,163},{136,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{230,92}}</string>
                <key>offset</key>
                <string>{-80,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,164},{230,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,96},{212,92}}</string>
                <key>offset</key>
                <string>{-77,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{92,164},{212,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{226,92}}</string>
                <key>offset</key>
                <string>{-85,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{77,164},{226,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,2},{228,92}}</string>
                <key>offset</key>
                <string>{-87,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,164},{228,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{136,96}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,163},{136,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0004_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a0b45836397d6040510116b69586d5b2:1/1$</string>
            <key>textureFileName</key>
            <string>wj0004_3.png</string>
        </dict>
    </dict>
</plist>
