<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0002_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{110,114}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{110,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,412},{112,106}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,162},{112,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,412},{116,100}}</string>
                <key>offset</key>
                <string>{25,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,170},{116,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,412},{114,106}}</string>
                <key>offset</key>
                <string>{38,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,166},{114,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,2},{236,232}}</string>
                <key>offset</key>
                <string>{-61,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,67},{236,232}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,244}}</string>
                <key>offset</key>
                <string>{-72,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,81},{214,244}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{214,192}}</string>
                <key>offset</key>
                <string>{-72,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,103},{214,192}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,236},{210,174}}</string>
                <key>offset</key>
                <string>{-71,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,117},{210,174}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{162,98}}</string>
                <key>offset</key>
                <string>{-42,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,171},{162,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,512},{110,114}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{110,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0002_3.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b188f68af612736f9eeea41781498b13:1/1$</string>
            <key>textureFileName</key>
            <string>wj0002_3.png</string>
        </dict>
    </dict>
</plist>
