<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0001_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{120,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{122,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,154},{122,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{124,94}}</string>
                <key>offset</key>
                <string>{-1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,154},{124,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,192},{122,92}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,155},{122,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,98},{122,92}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,155},{122,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,2},{122,94}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,153},{122,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,286},{120,94}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,154},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{120,94}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,154},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{120,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0001_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a1c6a53237c54460ad0ad211ca36bf52:1/1$</string>
            <key>textureFileName</key>
            <string>wj0001_1.png</string>
        </dict>
    </dict>
</plist>
