<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0002_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,360},{110,114}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,155},{110,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,614},{132,100}}</string>
                <key>offset</key>
                <string>{36,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,168},{132,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,476},{136,98}}</string>
                <key>offset</key>
                <string>{36,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,170},{136,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,180},{142,94}}</string>
                <key>offset</key>
                <string>{34,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,174},{142,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,360},{126,116}}</string>
                <key>offset</key>
                <string>{27,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,169},{126,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,478},{292,138}}</string>
                <key>offset</key>
                <string>{-25,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{104,166},{292,138}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{296,162}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{119,134},{296,162}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{670,2},{304,176}}</string>
                <key>offset</key>
                <string>{-4,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,127},{304,176}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{248,184}}</string>
                <key>offset</key>
                <string>{59,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,132},{248,184}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{332,176}}</string>
                <key>offset</key>
                <string>{-9,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,131},{332,176}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{332,176}}</string>
                <key>offset</key>
                <string>{-22,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,137},{332,176}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,478},{268,174}}</string>
                <key>offset</key>
                <string>{-56,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,137},{268,174}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,748},{204,164}}</string>
                <key>offset</key>
                <string>{-38,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,139},{204,164}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,180},{178,178}}</string>
                <key>offset</key>
                <string>{-7,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,124},{178,178}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0002_6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dd42eea85f001eb7a790c1e2b53859e1:1/1$</string>
            <key>textureFileName</key>
            <string>wj0002_6.png</string>
        </dict>
    </dict>
</plist>
