<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0002_7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,392},{110,114}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,155},{110,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,392},{102,116}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,153},{102,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7008.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{134,140}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,120},{134,140}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{216,102}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{162,142},{216,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{168,164}}</string>
                <key>offset</key>
                <string>{31,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,106},{168,164}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{168,234}}</string>
                <key>offset</key>
                <string>{40,37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,46},{168,234}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7027.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,238},{266,82}}</string>
                <key>offset</key>
                <string>{21,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,191},{266,82}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7032.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,322},{290,68}}</string>
                <key>offset</key>
                <string>{34,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{164,216},{290,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7037.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,2},{300,62}}</string>
                <key>offset</key>
                <string>{36,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,223},{300,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0002_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a90075c5dfcdfc7119dd644e3b0e12f:1/1$</string>
            <key>textureFileName</key>
            <string>wj0002_5.png</string>
        </dict>
    </dict>
</plist>
