<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0003_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{140,106}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,147},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,198},{126,98}}</string>
                <key>offset</key>
                <string>{25,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,148},{126,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,102},{126,96}}</string>
                <key>offset</key>
                <string>{28,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,150},{126,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,326},{126,96}}</string>
                <key>offset</key>
                <string>{32,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,150},{126,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_3010.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,2},{236,98}}</string>
                <key>offset</key>
                <string>{-59,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,148},{236,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_3012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{262,96}}</string>
                <key>offset</key>
                <string>{-70,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,150},{262,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_3018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{176,96}}</string>
                <key>offset</key>
                <string>{-32,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,150},{176,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_3021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{150,98}}</string>
                <key>offset</key>
                <string>{-11,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,149},{150,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_3024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{140,106}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,147},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0003_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bce019773e00a441867ec96aad38f232:1/1$</string>
            <key>textureFileName</key>
            <string>wj0003_3.png</string>
        </dict>
    </dict>
</plist>
