<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0001_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{120,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,146},{98,104}}</string>
                <key>offset</key>
                <string>{12,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,145},{98,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,252},{100,96}}</string>
                <key>offset</key>
                <string>{23,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,151},{100,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{156,142}}</string>
                <key>offset</key>
                <string>{-31,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,121},{156,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_3011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,146},{152,140}}</string>
                <key>offset</key>
                <string>{-32,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,124},{152,140}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_3014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{136,106}}</string>
                <key>offset</key>
                <string>{-27,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,159},{136,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_3017.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,354},{132,108}}</string>
                <key>offset</key>
                <string>{-29,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,157},{132,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_3023.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,2},{120,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0001_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a54c555cc366acb57bc580b91857851d:1/1$</string>
            <key>textureFileName</key>
            <string>wj0001_3.png</string>
        </dict>
    </dict>
</plist>
