<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0005_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,454},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{116,106}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,150},{116,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{118,104}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,152},{118,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{162,224}}</string>
                <key>offset</key>
                <string>{-36,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,93},{162,224}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{180,222}}</string>
                <key>offset</key>
                <string>{-26,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,94},{180,222}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,332},{174,206}}</string>
                <key>offset</key>
                <string>{-25,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,103},{174,206}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,166},{164,214}}</string>
                <key>offset</key>
                <string>{-28,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,97},{164,214}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,224}}</string>
                <key>offset</key>
                <string>{-39,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,94},{162,224}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,454},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0005_6.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:371c2f020b8b3399a93513ee441ee13d:1/1$</string>
            <key>textureFileName</key>
            <string>wj0005_6.png</string>
        </dict>
    </dict>
</plist>
