<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2008_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,190},{58,58}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,188},{58,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,190},{54,52}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,194},{54,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,126},{62,62}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,185},{62,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{34,32},{92,36}}</string>
                <key>offset</key>
                <string>{22,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,211},{92,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{100,34}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,220},{100,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{104,30}}</string>
                <key>offset</key>
                <string>{30,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,218},{104,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{110,28}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,226},{110,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,28}}</string>
                <key>offset</key>
                <string>{35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,226},{112,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1008_2_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:822c7bf45eab85fc48b3dfe334f268c7:1/1$</string>
            <key>textureFileName</key>
            <string>wj1008_2_5.png</string>
        </dict>
    </dict>
</plist>
