<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1001_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{42,50}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,204},{42,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{46,48}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,205},{46,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,50}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,204},{48,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{46,48}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,205},{46,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{42,50}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,204},{42,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1001_1_2.png</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bcacf4a1e1715a65325037e8eb7945e0:1/1$</string>
            <key>textureFileName</key>
            <string>wj1001_1_2.png</string>
        </dict>
    </dict>
</plist>
