<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2009_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,34},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,92},{54,56}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,190},{54,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,34},{62,60}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,186},{62,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,34},{94,44}}</string>
                <key>offset</key>
                <string>{21,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,204},{94,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{102,32}}</string>
                <key>offset</key>
                <string>{26,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,220},{102,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{104,32}}</string>
                <key>offset</key>
                <string>{30,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,217},{104,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{110,30}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,224},{110,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,30}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,224},{112,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1009_2_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0c5edc003ad2dd9554a5945c9be5c8f1:1/1$</string>
            <key>textureFileName</key>
            <string>wj1009_2_5.png</string>
        </dict>
    </dict>
</plist>
