<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1003_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{52,54}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,201},{52,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{36,62}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,192},{36,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,190},{54,48}}</string>
                <key>offset</key>
                <string>{13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,206},{54,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,64}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,200},{76,64}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{76,60}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,202},{76,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{76,58}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,203},{76,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{52,54}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,201},{52,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1003_1_3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c6c955b4d346e6ce2909856529f5f713:1/1$</string>
            <key>textureFileName</key>
            <string>wj1003_1_3.png</string>
        </dict>
    </dict>
</plist>
