<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>2J_6_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{150,104}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,105},{150,104}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,340},{150,104}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,105},{150,104}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{150,104}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,105},{150,104}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{246,108},{122,120}}</string>
                <key>offset</key>
                <string>{-1,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{98,89},{122,120}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,174}}</string>
                <key>offset</key>
                <string>{0,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,35},{120,174}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{120,160}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,49},{120,160}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,108},{120,136}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,73},{120,136}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,246},{126,112}}</string>
                <key>offset</key>
                <string>{-3,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,97},{126,112}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{142,104}}</string>
                <key>offset</key>
                <string>{-11,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,105},{142,104}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>2J_6_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{150,104}}</string>
                <key>offset</key>
                <string>{-15,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,105},{150,104}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>2J_6.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:75c1e9d3a95b35923eea76bb146b4bca:1/1$</string>
            <key>textureFileName</key>
            <string>2J_6.png</string>
        </dict>
    </dict>
</plist>
