<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>3J_5_0000.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,280},{170,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,104},{170,112}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,174},{170,116}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,104},{170,116}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,158},{170,120}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,103},{170,120}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{170,132}}</string>
                <key>offset</key>
                <string>{0,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,82},{170,132}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{170,196}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,18},{170,196}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{170,180}}</string>
                <key>offset</key>
                <string>{0,36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,34},{170,180}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,2},{170,154}}</string>
                <key>offset</key>
                <string>{0,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,60},{170,154}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,382},{170,120}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,94},{170,120}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,394},{170,110}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,104},{170,110}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
            <key>3J_5_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,280},{170,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,104},{170,112}}</string>
                <key>sourceSize</key>
                <string>{320,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>3J_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:518bcbf775474695f4144bfc117ee68e:1/1$</string>
            <key>textureFileName</key>
            <string>3J_5.png</string>
        </dict>
    </dict>
</plist>
