<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0006_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,576},{112,90}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,177},{112,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,686},{106,94}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,175},{106,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,856},{104,98}}</string>
                <key>offset</key>
                <string>{-13,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,172},{104,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,750},{114,104}}</string>
                <key>offset</key>
                <string>{-8,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,169},{114,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,574},{116,98}}</string>
                <key>offset</key>
                <string>{-6,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,173},{116,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,464},{108,94}}</string>
                <key>offset</key>
                <string>{-9,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,176},{108,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,750},{104,92}}</string>
                <key>offset</key>
                <string>{-11,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,176},{104,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,856},{106,104}}</string>
                <key>offset</key>
                <string>{-10,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,164},{106,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,668},{108,96}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,173},{108,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,224},{126,94}}</string>
                <key>offset</key>
                <string>{-18,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,176},{126,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,856},{126,92}}</string>
                <key>offset</key>
                <string>{-16,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,178},{126,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{124,92}}</string>
                <key>offset</key>
                <string>{-14,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,178},{124,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,516},{172,142}}</string>
                <key>offset</key>
                <string>{-12,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,151},{172,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{176,146}}</string>
                <key>offset</key>
                <string>{-10,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,149},{176,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{186,152}}</string>
                <key>offset</key>
                <string>{-8,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,147},{186,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,184},{184,152}}</string>
                <key>offset</key>
                <string>{-6,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,147},{184,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,156},{184,152}}</string>
                <key>offset</key>
                <string>{-4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,147},{184,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{182,152}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,147},{182,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{182,152}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,147},{182,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,210},{182,152}}</string>
                <key>offset</key>
                <string>{-3,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,147},{182,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,364},{182,150}}</string>
                <key>offset</key>
                <string>{-3,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,149},{182,150}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,338},{182,150}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,149},{182,150}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,310},{182,150}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{182,149},{182,150}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,606},{172,142}}</string>
                <key>offset</key>
                <string>{-2,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,152},{172,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,490},{172,142}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,152},{172,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,462},{172,142}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,152},{172,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,2},{218,180}}</string>
                <key>offset</key>
                <string>{-20,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,112},{218,180}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,2},{258,206}}</string>
                <key>offset</key>
                <string>{-45,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,82},{258,206}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{278,220}}</string>
                <key>offset</key>
                <string>{-79,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{57,51},{278,220}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,352},{110,94}}</string>
                <key>offset</key>
                <string>{3,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,177},{110,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,310},{110,90}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,180},{110,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,402},{110,86}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,184},{110,86}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5033.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,572},{112,84}}</string>
                <key>offset</key>
                <string>{-3,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,186},{112,84}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{912,490},{110,84}}</string>
                <key>offset</key>
                <string>{-4,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,186},{110,84}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5035.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,680},{108,82}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{217,186},{108,82}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5036.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,660},{108,84}}</string>
                <key>offset</key>
                <string>{-6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,183},{108,84}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,462},{108,86}}</string>
                <key>offset</key>
                <string>{-8,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,181},{108,86}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5038.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,766},{108,88}}</string>
                <key>offset</key>
                <string>{-10,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,179},{108,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_5039.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,856},{118,90}}</string>
                <key>offset</key>
                <string>{-17,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,177},{118,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0006_7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5062f0392862eddb08684144385eb2b2:1/1$</string>
            <key>textureFileName</key>
            <string>wj0006_7.png</string>
        </dict>
    </dict>
</plist>
