<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0001_7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{768,216},{120,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7002.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,668},{122,96}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,152},{122,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7003.png</key>
            <dict>
                <key>frame</key>
                <string>{{692,368},{120,94}}</string>
                <key>offset</key>
                <string>{-5,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,154},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,94},{114,92}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,156},{114,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7005.png</key>
            <dict>
                <key>frame</key>
                <string>{{672,244},{122,94}}</string>
                <key>offset</key>
                <string>{1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,151},{122,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7006.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,570},{122,96}}</string>
                <key>offset</key>
                <string>{10,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,148},{122,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7007.png</key>
            <dict>
                <key>frame</key>
                <string>{{708,94},{120,96}}</string>
                <key>offset</key>
                <string>{17,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,146},{120,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7008.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,94},{116,94}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,145},{116,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7009.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,882},{126,92}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,146},{126,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7010.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,882},{134,88}}</string>
                <key>offset</key>
                <string>{26,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,149},{134,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7011.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,426},{142,84}}</string>
                <key>offset</key>
                <string>{28,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,152},{142,84}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7012.png</key>
            <dict>
                <key>frame</key>
                <string>{{618,94},{148,88}}</string>
                <key>offset</key>
                <string>{30,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,147},{148,88}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7013.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,272},{152,90}}</string>
                <key>offset</key>
                <string>{32,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,143},{152,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7014.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,838},{158,96}}</string>
                <key>offset</key>
                <string>{34,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,138},{158,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7015.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,672},{164,102}}</string>
                <key>offset</key>
                <string>{35,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,131},{164,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7016.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,502},{168,110}}</string>
                <key>offset</key>
                <string>{36,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,125},{168,110}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7017.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,706},{174,118}}</string>
                <key>offset</key>
                <string>{37,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,119},{174,118}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7018.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,94},{176,132}}</string>
                <key>offset</key>
                <string>{38,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,113},{176,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7019.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,318},{182,108}}</string>
                <key>offset</key>
                <string>{39,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,142},{182,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7020.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,520},{184,112}}</string>
                <key>offset</key>
                <string>{41,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,144},{184,112}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{188,124}}</string>
                <key>offset</key>
                <string>{42,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,137},{188,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7022.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,764},{192,132}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,134},{192,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7023.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,318},{200,128}}</string>
                <key>offset</key>
                <string>{45,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,134},{200,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7024.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,556},{206,158}}</string>
                <key>offset</key>
                <string>{47,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{219,100},{206,158}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7025.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,806},{214,186}}</string>
                <key>offset</key>
                <string>{48,40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,67},{214,186}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7026.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,94},{222,168}}</string>
                <key>offset</key>
                <string>{50,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,85},{222,168}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7027.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,328},{226,134}}</string>
                <key>offset</key>
                <string>{53,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,120},{226,134}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7028.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,574},{230,124}}</string>
                <key>offset</key>
                <string>{54,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,130},{230,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7029.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,94},{232,116}}</string>
                <key>offset</key>
                <string>{56,5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,137},{232,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7030.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,336},{236,108}}</string>
                <key>offset</key>
                <string>{58,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,148},{236,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7031.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{240,100}}</string>
                <key>offset</key>
                <string>{59,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,160},{240,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,588},{242,90}}</string>
                <key>offset</key>
                <string>{61,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,174},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,342},{244,90}}</string>
                <key>offset</key>
                <string>{61,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,174},{244,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{246,90}}</string>
                <key>offset</key>
                <string>{62,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,174},{246,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7035.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,2},{246,90}}</string>
                <key>offset</key>
                <string>{63,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,174},{246,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7036.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{248,90}}</string>
                <key>offset</key>
                <string>{63,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,174},{248,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7037.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{248,90}}</string>
                <key>offset</key>
                <string>{64,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,174},{248,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7038.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{248,90}}</string>
                <key>offset</key>
                <string>{64,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,174},{248,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7039.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{248,90}}</string>
                <key>offset</key>
                <string>{64,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,174},{248,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7040.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{248,90}}</string>
                <key>offset</key>
                <string>{64,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,174},{248,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,90}}</string>
                <key>offset</key>
                <string>{63,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{250,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0001_5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a82637196070a0f82ce6a90d2ee806d8:1/1$</string>
            <key>textureFileName</key>
            <string>wj0001_5.png</string>
        </dict>
    </dict>
</plist>
