<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0004_7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,348},{136,96}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,163},{136,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7002.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,596},{138,98}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,160},{138,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7003.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{140,96}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,161},{140,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,196},{140,94}}</string>
                <key>offset</key>
                <string>{-16,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,162},{140,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7005.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,100},{140,94}}</string>
                <key>offset</key>
                <string>{-10,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,156},{140,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7006.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,554},{134,96}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,153},{134,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7007.png</key>
            <dict>
                <key>frame</key>
                <string>{{744,446},{134,106}}</string>
                <key>offset</key>
                <string>{16,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,141},{134,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7008.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,696},{130,130}}</string>
                <key>offset</key>
                <string>{34,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,114},{130,130}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7009.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,464},{130,138}}</string>
                <key>offset</key>
                <string>{42,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,104},{130,138}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7010.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,726},{130,146}}</string>
                <key>offset</key>
                <string>{50,35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,92},{130,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7011.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,696},{126,152}}</string>
                <key>offset</key>
                <string>{56,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,82},{126,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7012.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,564},{120,160}}</string>
                <key>offset</key>
                <string>{62,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,70},{120,160}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7013.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{116,170}}</string>
                <key>offset</key>
                <string>{67,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,59},{116,170}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7014.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,858},{164,142}}</string>
                <key>offset</key>
                <string>{48,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,92},{164,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7015.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,192},{176,126}}</string>
                <key>offset</key>
                <string>{46,25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,112},{176,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7016.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,858},{144,160}}</string>
                <key>offset</key>
                <string>{65,38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,82},{144,160}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7017.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,384},{110,182}}</string>
                <key>offset</key>
                <string>{84,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{304,67},{110,182}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7018.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,292},{138,170}}</string>
                <key>offset</key>
                <string>{72,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{278,86},{138,170}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7019.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,264},{138,206}}</string>
                <key>offset</key>
                <string>{75,42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,55},{138,206}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,264},{118,252}}</string>
                <key>offset</key>
                <string>{87,61}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{303,13},{118,252}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{136,260}}</string>
                <key>offset</key>
                <string>{80,60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,10},{136,260}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{182,230}}</string>
                <key>offset</key>
                <string>{59,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,44},{182,230}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7023.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,2},{202,182}}</string>
                <key>offset</key>
                <string>{58,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,86},{202,182}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7024.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,194},{188,188}}</string>
                <key>offset</key>
                <string>{74,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,72},{188,188}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7025.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,206},{154,190}}</string>
                <key>offset</key>
                <string>{99,39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{297,66},{154,190}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7026.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,858},{162,166}}</string>
                <key>offset</key>
                <string>{104,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,85},{162,166}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7027.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,176},{170,144}}</string>
                <key>offset</key>
                <string>{108,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{298,104},{170,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7028.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{172,134}}</string>
                <key>offset</key>
                <string>{111,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,124},{172,134}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7029.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,384},{178,136}}</string>
                <key>offset</key>
                <string>{113,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,123},{178,136}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7030.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,590},{184,142}}</string>
                <key>offset</key>
                <string>{114,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,123},{184,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7031.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,2},{188,146}}</string>
                <key>offset</key>
                <string>{116,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,124},{188,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7032.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,398},{190,152}}</string>
                <key>offset</key>
                <string>{119,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,124},{190,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7033.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,666},{190,152}}</string>
                <key>offset</key>
                <string>{119,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,125},{190,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7034.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,2},{190,152}}</string>
                <key>offset</key>
                <string>{120,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,125},{190,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7035.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,472},{192,152}}</string>
                <key>offset</key>
                <string>{120,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,125},{192,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7036.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,750},{192,152}}</string>
                <key>offset</key>
                <string>{121,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,124},{192,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_7037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{194,152}}</string>
                <key>offset</key>
                <string>{121,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{299,124},{194,152}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0004_5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb63bc822e4e0e055d510b17d4c9fbcc:1/1$</string>
            <key>textureFileName</key>
            <string>wj0004_5.png</string>
        </dict>
    </dict>
</plist>
