<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0004_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{136,96}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,163},{136,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{136,92}}</string>
                <key>offset</key>
                <string>{-1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,164},{136,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,510},{136,92}}</string>
                <key>offset</key>
                <string>{1,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,164},{136,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,414},{136,94}}</string>
                <key>offset</key>
                <string>{3,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,163},{136,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,196},{214,96}}</string>
                <key>offset</key>
                <string>{-72,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,160},{214,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,100},{218,94}}</string>
                <key>offset</key>
                <string>{-61,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,163},{218,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{266,124}}</string>
                <key>offset</key>
                <string>{-55,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,164},{266,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,294},{236,118}}</string>
                <key>offset</key>
                <string>{-64,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,163},{236,118}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{256,118}}</string>
                <key>offset</key>
                <string>{-80,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,163},{256,118}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{286,118}}</string>
                <key>offset</key>
                <string>{-83,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,163},{286,118}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{296,96}}</string>
                <key>offset</key>
                <string>{-77,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,163},{296,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,414},{256,92}}</string>
                <key>offset</key>
                <string>{-99,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{48,164},{256,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{256,92}}</string>
                <key>offset</key>
                <string>{-101,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,164},{256,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0004_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{136,96}}</string>
                <key>offset</key>
                <string>{-16,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,163},{136,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0004_7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14362bdbd83315e0f02d4c8d1d9a2cab:1/1$</string>
            <key>textureFileName</key>
            <string>wj0004_7.png</string>
        </dict>
    </dict>
</plist>
