<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0005_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,666},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,584},{114,104}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,152},{114,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,584},{114,106}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,150},{114,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,2},{214,122}}</string>
                <key>offset</key>
                <string>{-61,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,152},{214,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,480},{238,102}}</string>
                <key>offset</key>
                <string>{-77,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,154},{238,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,154},{280,106}}</string>
                <key>offset</key>
                <string>{-74,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,150},{280,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,126},{204,138}}</string>
                <key>offset</key>
                <string>{-60,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,153},{204,138}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{262,380},{248,142}}</string>
                <key>offset</key>
                <string>{-63,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,154},{248,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{288,150}}</string>
                <key>offset</key>
                <string>{-59,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,150},{288,150}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,524},{200,140}}</string>
                <key>offset</key>
                <string>{-40,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,152},{200,140}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,266},{230,112}}</string>
                <key>offset</key>
                <string>{-54,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,154},{230,112}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{258,106}}</string>
                <key>offset</key>
                <string>{-68,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,153},{258,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,262},{270,108}}</string>
                <key>offset</key>
                <string>{-74,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,151},{270,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0005_7.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:990dedee33267088620e4789dfc7870a:1/1$</string>
            <key>textureFileName</key>
            <string>wj0005_7.png</string>
        </dict>
    </dict>
</plist>
