<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0002_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{110,114}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,155},{110,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,880},{92,124}}</string>
                <key>offset</key>
                <string>{8,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,144},{92,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,240},{112,106}}</string>
                <key>offset</key>
                <string>{13,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,162},{112,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,880},{116,104}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,166},{116,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,746},{116,102}}</string>
                <key>offset</key>
                <string>{21,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,168},{116,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,864},{116,100}}</string>
                <key>offset</key>
                <string>{25,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,170},{116,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,652},{116,98}}</string>
                <key>offset</key>
                <string>{30,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,173},{116,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,652},{114,98}}</string>
                <key>offset</key>
                <string>{33,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,173},{114,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,886},{112,100}}</string>
                <key>offset</key>
                <string>{37,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,171},{112,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{282,216}}</string>
                <key>offset</key>
                <string>{-40,26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,66},{282,216}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3011.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,2},{258,236}}</string>
                <key>offset</key>
                <string>{-53,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,66},{258,236}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3012.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{240,232}}</string>
                <key>offset</key>
                <string>{-62,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,68},{240,232}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{224,256}}</string>
                <key>offset</key>
                <string>{-70,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{93,70},{224,256}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3014.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,2},{216,222}}</string>
                <key>offset</key>
                <string>{-73,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{94,74},{216,222}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3015.png</key>
            <dict>
                <key>frame</key>
                <string>{{788,220},{216,240}}</string>
                <key>offset</key>
                <string>{-73,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,87},{216,240}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3016.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,236},{216,192}}</string>
                <key>offset</key>
                <string>{-73,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{94,103},{216,192}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3017.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,354},{174,104}}</string>
                <key>offset</key>
                <string>{-53,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{135,175},{174,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3018.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,346},{174,104}}</string>
                <key>offset</key>
                <string>{-53,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,176},{174,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3019.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,240},{174,104}}</string>
                <key>offset</key>
                <string>{-53,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,176},{174,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{172,102}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,178},{172,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3021.png</key>
            <dict>
                <key>frame</key>
                <string>{{542,430},{172,102}}</string>
                <key>offset</key>
                <string>{-53,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,178},{172,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3022.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,452},{170,98}}</string>
                <key>offset</key>
                <string>{-50,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{140,175},{170,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,550},{170,94}}</string>
                <key>offset</key>
                <string>{-48,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{142,175},{170,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3024.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,530},{166,96}}</string>
                <key>offset</key>
                <string>{-45,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,173},{166,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3025.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,552},{162,98}}</string>
                <key>offset</key>
                <string>{-42,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,171},{162,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{150,98}}</string>
                <key>offset</key>
                <string>{-33,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,171},{150,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{132,100}}</string>
                <key>offset</key>
                <string>{-20,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,168},{132,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_3028.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,770},{110,114}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,155},{110,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0002_3.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1854763e74329d8d5c7bef79c3f132db:1/1$</string>
            <key>textureFileName</key>
            <string>wj0002_3.png</string>
        </dict>
    </dict>
</plist>
