<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0001_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,366},{120,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{90,96}}</string>
                <key>offset</key>
                <string>{12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,151},{90,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,372},{74,96}}</string>
                <key>offset</key>
                <string>{19,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,151},{74,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,462},{86,118}}</string>
                <key>offset</key>
                <string>{22,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,139},{86,118}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{92,116}}</string>
                <key>offset</key>
                <string>{25,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,141},{92,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,366},{166,146}}</string>
                <key>offset</key>
                <string>{-13,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,133},{166,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{192,174}}</string>
                <key>offset</key>
                <string>{-1,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,110},{192,174}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,176},{194,188}}</string>
                <key>offset</key>
                <string>{1,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,110},{194,188}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{252,192}}</string>
                <key>offset</key>
                <string>{14,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,132},{252,192}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4034.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,2},{252,172}}</string>
                <key>offset</key>
                <string>{14,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,152},{252,172}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_4039.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,366},{120,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0001_6.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d680ee04228ae081c26e4a03e55de786:1/1$</string>
            <key>textureFileName</key>
            <string>wj0001_6.png</string>
        </dict>
    </dict>
</plist>
