<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0003_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,154},{140,106}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,147},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,614},{136,100}}</string>
                <key>offset</key>
                <string>{12,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,146},{136,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,614},{132,102}}</string>
                <key>offset</key>
                <string>{15,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,144},{132,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{408,732},{130,100}}</string>
                <key>offset</key>
                <string>{16,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,146},{130,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,848},{128,100}}</string>
                <key>offset</key>
                <string>{17,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,146},{128,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,436},{126,100}}</string>
                <key>offset</key>
                <string>{18,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,146},{126,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,334},{126,100}}</string>
                <key>offset</key>
                <string>{20,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,146},{126,100}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,334},{126,98}}</string>
                <key>offset</key>
                <string>{22,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,148},{126,98}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,462},{126,96}}</string>
                <key>offset</key>
                <string>{24,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,150},{126,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,530},{136,148}}</string>
                <key>offset</key>
                <string>{7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,149},{136,148}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,148},{214,146}}</string>
                <key>offset</key>
                <string>{6,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,151},{214,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,2},{216,144}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,153},{216,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,2},{218,148}}</string>
                <key>offset</key>
                <string>{6,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,151},{218,148}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,148}}</string>
                <key>offset</key>
                <string>{6,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,148},{218,148}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{216,150}}</string>
                <key>offset</key>
                <string>{6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{173,145},{216,150}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,598},{178,132}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,152},{178,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,476},{178,138}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,150},{178,138}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,296},{178,140}}</string>
                <key>offset</key>
                <string>{8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,152},{178,140}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{180,144}}</string>
                <key>offset</key>
                <string>{9,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,152},{180,144}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,184},{192,146}}</string>
                <key>offset</key>
                <string>{10,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,153},{192,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,668},{178,128}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,154},{178,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,732},{178,128}}</string>
                <key>offset</key>
                <string>{8,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,154},{178,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,862},{178,126}}</string>
                <key>offset</key>
                <string>{8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,156},{178,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,840},{178,130}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,152},{178,130}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,480},{178,132}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,150},{178,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,668},{178,132}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,150},{178,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{178,132}}</string>
                <key>offset</key>
                <string>{8,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,150},{178,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,458},{178,138}}</string>
                <key>offset</key>
                <string>{8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,144},{178,138}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,324},{178,154}}</string>
                <key>offset</key>
                <string>{8,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,128},{178,154}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,154},{178,168}}</string>
                <key>offset</key>
                <string>{8,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,114},{178,168}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,152},{180,182}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,100},{180,182}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{180,182}}</string>
                <key>offset</key>
                <string>{9,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,100},{180,182}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,296},{178,160}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,122},{178,160}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,848},{176,172}}</string>
                <key>offset</key>
                <string>{8,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,110},{176,172}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4035.png</key>
            <dict>
                <key>frame</key>
                <string>{{720,848},{166,166}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,99},{166,166}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,334},{126,126}}</string>
                <key>offset</key>
                <string>{15,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,125},{126,126}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4037.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,656},{132,136}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,116},{132,136}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4038.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,378},{150,150}}</string>
                <key>offset</key>
                <string>{15,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,107},{150,150}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4039.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,848},{166,166}}</string>
                <key>offset</key>
                <string>{16,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,99},{166,166}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4040.png</key>
            <dict>
                <key>frame</key>
                <string>{{270,732},{136,106}}</string>
                <key>offset</key>
                <string>{9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,147},{136,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0003_4041.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,154},{140,106}}</string>
                <key>offset</key>
                <string>{8,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,147},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0003_6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37ee7ade313b9ec4829cc9388304fdf6:1/1$</string>
            <key>textureFileName</key>
            <string>wj0003_6.png</string>
        </dict>
    </dict>
</plist>
