<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0001_7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,230},{120,94}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,153},{120,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,326},{114,92}}</string>
                <key>offset</key>
                <string>{-7,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,156},{114,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7008.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,230},{116,94}}</string>
                <key>offset</key>
                <string>{25,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,145},{116,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{152,90}}</string>
                <key>offset</key>
                <string>{32,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,143},{152,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7018.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,94},{176,132}}</string>
                <key>offset</key>
                <string>{38,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,113},{176,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7022.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,228},{192,132}}</string>
                <key>offset</key>
                <string>{43,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,134},{192,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7027.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,94},{226,134}}</string>
                <key>offset</key>
                <string>{53,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,120},{226,134}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,94},{242,90}}</string>
                <key>offset</key>
                <string>{61,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,174},{242,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7037.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{248,90}}</string>
                <key>offset</key>
                <string>{64,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,174},{248,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0001_7041.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{250,90}}</string>
                <key>offset</key>
                <string>{63,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,174},{250,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0001_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:23d5c351c9f1ffb1aee5862c7202bb05:1/1$</string>
            <key>textureFileName</key>
            <string>wj0001_5.png</string>
        </dict>
    </dict>
</plist>
