<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0005_6001.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,812},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6002.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,2},{110,104}}</string>
                <key>offset</key>
                <string>{-5,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,152},{110,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6003.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,104},{106,102}}</string>
                <key>offset</key>
                <string>{-1,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,155},{106,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6004.png</key>
            <dict>
                <key>frame</key>
                <string>{{540,282},{104,104}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,154},{104,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6005.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,212},{104,104}}</string>
                <key>offset</key>
                <string>{0,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,155},{104,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6006.png</key>
            <dict>
                <key>frame</key>
                <string>{{752,310},{102,104}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,156},{102,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6007.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,108},{102,106}}</string>
                <key>offset</key>
                <string>{1,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,155},{102,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6008.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,208},{100,106}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,157},{100,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6009.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{100,108}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,156},{100,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6010.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,890},{132,116}}</string>
                <key>offset</key>
                <string>{30,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,140},{132,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6011.png</key>
            <dict>
                <key>frame</key>
                <string>{{608,2},{128,106}}</string>
                <key>offset</key>
                <string>{28,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,150},{128,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6012.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,844},{86,120}}</string>
                <key>offset</key>
                <string>{7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,148},{86,120}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6013.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,926},{86,108}}</string>
                <key>offset</key>
                <string>{8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,148},{86,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,908},{112,108}}</string>
                <key>offset</key>
                <string>{-6,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,148},{112,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6015.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,844},{118,108}}</string>
                <key>offset</key>
                <string>{-8,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,148},{118,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{86,154}}</string>
                <key>offset</key>
                <string>{8,21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,102},{86,154}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{94,158}}</string>
                <key>offset</key>
                <string>{13,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,98},{94,158}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6018.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,150},{144,106}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,150},{144,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6019.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,744},{142,106}}</string>
                <key>offset</key>
                <string>{37,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,150},{142,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6020.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,600},{142,106}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,150},{142,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6021.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,146},{140,106}}</string>
                <key>offset</key>
                <string>{35,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,150},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6022.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,434},{138,106}}</string>
                <key>offset</key>
                <string>{34,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,150},{138,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6023.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,582},{138,106}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,150},{138,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6024.png</key>
            <dict>
                <key>frame</key>
                <string>{{520,144},{136,106}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,150},{136,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6025.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,288},{136,106}}</string>
                <key>offset</key>
                <string>{31,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,150},{136,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6026.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,888},{134,106}}</string>
                <key>offset</key>
                <string>{30,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,150},{134,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6027.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,292},{140,106}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,150},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6028.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,440},{140,106}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,150},{140,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6029.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,746},{142,106}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,150},{142,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6030.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,2},{142,106}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,150},{142,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6031.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,148},{142,106}}</string>
                <key>offset</key>
                <string>{32,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,150},{142,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6032.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,296},{142,106}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,150},{142,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6033.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,456},{142,106}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,150},{142,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6034.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,602},{142,106}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,150},{142,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6035.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,310},{144,106}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,150},{144,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,762},{144,106}}</string>
                <key>offset</key>
                <string>{33,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,150},{144,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6037.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,456},{144,104}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,152},{144,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6038.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,2},{144,104}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,152},{144,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6039.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,614},{146,104}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,152},{146,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6040.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,466},{146,104}}</string>
                <key>offset</key>
                <string>{33,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,152},{146,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6041.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{146,104}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,152},{146,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6042.png</key>
            <dict>
                <key>frame</key>
                <string>{{90,162},{146,104}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,152},{146,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6043.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{146,104}}</string>
                <key>offset</key>
                <string>{34,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,152},{146,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6044.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{102,140}}</string>
                <key>offset</key>
                <string>{13,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,116},{102,140}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6045.png</key>
            <dict>
                <key>frame</key>
                <string>{{522,2},{84,136}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,120},{84,136}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6046.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,574},{118,104}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,152},{118,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6047.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,722},{120,104}}</string>
                <key>offset</key>
                <string>{-14,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{201,152},{120,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6048.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,694},{116,104}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{205,152},{116,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_6049.png</key>
            <dict>
                <key>frame</key>
                <string>{{536,812},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0005_4.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:428b911f161a2535e0259f5a7276a132:1/1$</string>
            <key>textureFileName</key>
            <string>wj0005_4.png</string>
        </dict>
    </dict>
</plist>
