<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0005_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{118,106}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,151},{118,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,220},{116,102}}</string>
                <key>offset</key>
                <string>{-12,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,155},{116,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,112},{116,106}}</string>
                <key>offset</key>
                <string>{-9,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,152},{116,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{118,108}}</string>
                <key>offset</key>
                <string>{-8,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,149},{118,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{118,108}}</string>
                <key>offset</key>
                <string>{-9,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,146},{118,108}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{116,102}}</string>
                <key>offset</key>
                <string>{-11,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,154},{116,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{118,106}}</string>
                <key>offset</key>
                <string>{-9,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,151},{118,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0005_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8db82db1b57d4f89acbcc855731dd17a:1/1$</string>
            <key>textureFileName</key>
            <string>wj0005_2.png</string>
        </dict>
    </dict>
</plist>
