<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0002_7001.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,558},{110,114}}</string>
                <key>offset</key>
                <string>{-6,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,155},{110,114}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7002.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,702},{108,116}}</string>
                <key>offset</key>
                <string>{-3,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,153},{108,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7003.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,812},{106,116}}</string>
                <key>offset</key>
                <string>{-1,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,153},{106,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7004.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,750},{102,116}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,153},{102,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7005.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,680},{108,120}}</string>
                <key>offset</key>
                <string>{3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,143},{108,120}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7006.png</key>
            <dict>
                <key>frame</key>
                <string>{{506,670},{112,128}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{220,136},{112,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7007.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,868},{124,136}}</string>
                <key>offset</key>
                <string>{5,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{218,127},{124,136}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7008.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,66},{134,140}}</string>
                <key>offset</key>
                <string>{8,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,120},{134,140}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{146,142}}</string>
                <key>offset</key>
                <string>{3,12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,117},{146,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7010.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,66},{164,140}}</string>
                <key>offset</key>
                <string>{3,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,116},{164,140}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7011.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,212},{178,136}}</string>
                <key>offset</key>
                <string>{1,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,116},{178,136}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7012.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,548},{190,130}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,117},{190,130}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{216,102}}</string>
                <key>offset</key>
                <string>{-5,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,142},{216,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7014.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,236},{220,96}}</string>
                <key>offset</key>
                <string>{-5,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,150},{220,96}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7015.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{208,116}}</string>
                <key>offset</key>
                <string>{4,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{175,131},{208,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7016.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,66},{180,138}}</string>
                <key>offset</key>
                <string>{20,14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,117},{180,138}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7017.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,392},{154,154}}</string>
                <key>offset</key>
                <string>{35,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,108},{154,154}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7018.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,206},{168,164}}</string>
                <key>offset</key>
                <string>{31,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,106},{168,164}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7019.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,376},{180,154}}</string>
                <key>offset</key>
                <string>{27,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,116},{180,154}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7020.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,520},{180,198}}</string>
                <key>offset</key>
                <string>{29,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,73},{180,198}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7021.png</key>
            <dict>
                <key>frame</key>
                <string>{{298,212},{166,242}}</string>
                <key>offset</key>
                <string>{39,46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,33},{166,242}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7022.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,66},{168,234}}</string>
                <key>offset</key>
                <string>{40,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,46},{168,234}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7023.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,334},{184,214}}</string>
                <key>offset</key>
                <string>{37,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,62},{184,214}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7024.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,558},{202,190}}</string>
                <key>offset</key>
                <string>{34,23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,82},{202,190}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7025.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,790},{220,166}}</string>
                <key>offset</key>
                <string>{31,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{196,106},{220,166}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7026.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,756},{246,124}}</string>
                <key>offset</key>
                <string>{24,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{176,149},{246,124}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7027.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,488},{266,82}}</string>
                <key>offset</key>
                <string>{21,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{163,191},{266,82}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7028.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,212},{274,84}}</string>
                <key>offset</key>
                <string>{22,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,197},{274,84}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7029.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,496},{278,74}}</string>
                <key>offset</key>
                <string>{25,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,203},{278,74}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7030.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,212},{282,72}}</string>
                <key>offset</key>
                <string>{28,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,208},{282,72}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7031.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,504},{284,70}}</string>
                <key>offset</key>
                <string>{32,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{165,212},{284,70}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7032.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,212},{290,68}}</string>
                <key>offset</key>
                <string>{34,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,216},{290,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,510},{294,66}}</string>
                <key>offset</key>
                <string>{34,-51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,218},{294,66}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{296,64}}</string>
                <key>offset</key>
                <string>{34,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{161,220},{296,64}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7035.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{298,62}}</string>
                <key>offset</key>
                <string>{34,-53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,222},{298,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7036.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{300,62}}</string>
                <key>offset</key>
                <string>{35,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,223},{300,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0002_7037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,62}}</string>
                <key>offset</key>
                <string>{36,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,223},{300,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0002_5.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dee3aeeb56be65aced362d20074a6598:1/1$</string>
            <key>textureFileName</key>
            <string>wj0002_5.png</string>
        </dict>
    </dict>
</plist>
