<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0005_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,594},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,842},{114,104}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{215,152},{114,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,726},{114,104}}</string>
                <key>offset</key>
                <string>{3,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,152},{114,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,866},{114,104}}</string>
                <key>offset</key>
                <string>{4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{222,152},{114,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,750},{114,104}}</string>
                <key>offset</key>
                <string>{6,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,152},{114,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{114,104}}</string>
                <key>offset</key>
                <string>{7,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,152},{114,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,750},{114,104}}</string>
                <key>offset</key>
                <string>{8,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,152},{114,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,514},{114,106}}</string>
                <key>offset</key>
                <string>{9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,150},{114,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,430},{154,104}}</string>
                <key>offset</key>
                <string>{-35,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{163,152},{154,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,394},{188,118}}</string>
                <key>offset</key>
                <string>{-47,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,153},{188,118}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,140},{222,106}}</string>
                <key>offset</key>
                <string>{-50,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,154},{222,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{240,104}}</string>
                <key>offset</key>
                <string>{-59,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,153},{240,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{260,106}}</string>
                <key>offset</key>
                <string>{-67,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,151},{260,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{280,106}}</string>
                <key>offset</key>
                <string>{-72,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,151},{280,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,2},{224,136}}</string>
                <key>offset</key>
                <string>{-27,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,151},{224,136}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,248},{214,136}}</string>
                <key>offset</key>
                <string>{-47,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,153},{214,136}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,254},{226,138}}</string>
                <key>offset</key>
                <string>{-57,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{105,153},{226,138}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,110},{240,142}}</string>
                <key>offset</key>
                <string>{-68,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{87,153},{240,142}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,2},{250,146}}</string>
                <key>offset</key>
                <string>{-75,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{75,152},{250,146}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{132,106}}</string>
                <key>offset</key>
                <string>{0,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,151},{132,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,256},{204,122}}</string>
                <key>offset</key>
                <string>{-36,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,151},{204,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,380},{202,112}}</string>
                <key>offset</key>
                <string>{-54,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{120,153},{202,112}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{216,106}}</string>
                <key>offset</key>
                <string>{-66,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,154},{216,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,150},{234,104}}</string>
                <key>offset</key>
                <string>{-74,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,154},{234,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{248,104}}</string>
                <key>offset</key>
                <string>{-81,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{70,154},{248,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,386},{146,102}}</string>
                <key>offset</key>
                <string>{-30,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,154},{146,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,490},{144,102}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,154},{144,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,386},{144,102}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,154},{144,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,490},{142,102}}</string>
                <key>offset</key>
                <string>{-29,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{175,154},{142,102}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,494},{138,104}}</string>
                <key>offset</key>
                <string>{-26,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,152},{138,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,514},{134,104}}</string>
                <key>offset</key>
                <string>{-23,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,153},{134,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,620},{130,104}}</string>
                <key>offset</key>
                <string>{-20,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,153},{130,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{550,494},{124,104}}</string>
                <key>offset</key>
                <string>{-17,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,153},{124,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{116,104}}</string>
                <key>offset</key>
                <string>{-12,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,152},{116,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_4035.png</key>
            <dict>
                <key>frame</key>
                <string>{{676,594},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0005_6.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bed597968e59c1fb536d242242ce911:1/1$</string>
            <key>textureFileName</key>
            <string>wj0005_6.png</string>
        </dict>
    </dict>
</plist>
