<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0005_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,562},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,464},{116,106}}</string>
                <key>offset</key>
                <string>{-9,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,150},{116,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{880,356},{116,106}}</string>
                <key>offset</key>
                <string>{-6,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,150},{116,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,356},{118,106}}</string>
                <key>offset</key>
                <string>{-5,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,150},{118,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,902},{118,106}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,150},{118,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,902},{118,106}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,150},{118,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,902},{118,106}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,150},{118,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,148},{156,106}}</string>
                <key>offset</key>
                <string>{-4,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,150},{156,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,142},{156,106}}</string>
                <key>offset</key>
                <string>{-3,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,150},{156,106}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,250},{154,104}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,152},{154,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{634,150},{154,104}}</string>
                <key>offset</key>
                <string>{-3,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{195,152},{154,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,200},{148,132}}</string>
                <key>offset</key>
                <string>{-8,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,153},{148,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,334},{128,132}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,153},{128,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,350},{126,130}}</string>
                <key>offset</key>
                <string>{-2,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{210,155},{126,130}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,256},{128,150}}</string>
                <key>offset</key>
                <string>{-2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,135},{128,150}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,2},{138,160}}</string>
                <key>offset</key>
                <string>{-7,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,125},{138,160}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{674,2},{146,176}}</string>
                <key>offset</key>
                <string>{-15,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,113},{146,176}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{152,196}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,104},{152,196}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,228},{156,210}}</string>
                <key>offset</key>
                <string>{-29,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{168,98},{156,210}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,680},{160,220}}</string>
                <key>offset</key>
                <string>{-34,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,95},{160,220}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{166,224}}</string>
                <key>offset</key>
                <string>{-37,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{155,94},{166,224}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,680},{160,220}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,95},{160,220}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{164,224}}</string>
                <key>offset</key>
                <string>{-37,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,94},{164,224}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{144,196}}</string>
                <key>offset</key>
                <string>{-26,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,104},{144,196}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,2},{150,210}}</string>
                <key>offset</key>
                <string>{-31,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,98},{150,210}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,454},{158,220}}</string>
                <key>offset</key>
                <string>{-35,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{161,95},{158,220}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,454},{162,224}}</string>
                <key>offset</key>
                <string>{-38,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{156,94},{162,224}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,256},{92,132}}</string>
                <key>offset</key>
                <string>{-4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,154},{92,132}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,386},{92,128}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{227,154},{92,128}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,464},{90,122}}</string>
                <key>offset</key>
                <string>{0,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,154},{90,122}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,464},{96,116}}</string>
                <key>offset</key>
                <string>{-2,-11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,153},{96,116}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,478},{104,110}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{218,152},{104,110}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5033.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,480},{108,104}}</string>
                <key>offset</key>
                <string>{-7,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{214,152},{108,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0005_5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,562},{112,104}}</string>
                <key>offset</key>
                <string>{-8,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,152},{112,104}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0005_7.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:14bdfbc57d3e6f128d66172d0615d0a0:1/1$</string>
            <key>textureFileName</key>
            <string>wj0005_7.png</string>
        </dict>
    </dict>
</plist>
