<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj0006_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,96},{112,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,175},{112,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{112,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,175},{112,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,472},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,474},{110,90}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,176},{110,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,472},{110,90}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,176},{110,90}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,472},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,380},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,174},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,378},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,96},{110,94}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,174},{110,94}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,176},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,378},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,176},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{112,92}}</string>
                <key>offset</key>
                <string>{-21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,176},{112,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,2},{112,92}}</string>
                <key>offset</key>
                <string>{-21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,176},{112,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,175},{112,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,286},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,284},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,284},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{338,284},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,192},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,190},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,190},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,175},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,96},{110,92}}</string>
                <key>offset</key>
                <string>{-21,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,176},{110,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,175},{112,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj0006_2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,96},{112,92}}</string>
                <key>offset</key>
                <string>{-21,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{198,175},{112,92}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj0006_2.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cff5e4f567d8bbc178e1bf9f14e7525e:1/1$</string>
            <key>textureFileName</key>
            <string>wj0006_2.png</string>
        </dict>
    </dict>
</plist>
