<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2004_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,290},{58,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{58,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,350},{56,50}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,203},{56,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,198},{54,52}}</string>
                <key>offset</key>
                <string>{-19,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,202},{54,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,310},{54,52}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,202},{54,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,430},{56,52}}</string>
                <key>offset</key>
                <string>{-19,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,200},{56,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,366},{62,50}}</string>
                <key>offset</key>
                <string>{-15,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,200},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,42},{68,48}}</string>
                <key>offset</key>
                <string>{-11,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,200},{68,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,122},{74,46}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,200},{74,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,212},{76,42}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,200},{76,42}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,42},{78,42}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,197},{78,42}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,130},{80,44}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,196},{80,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,226},{82,44}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,196},{82,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,466},{84,44}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,197},{84,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,42},{86,38}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,201},{86,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,136},{88,36}}</string>
                <key>offset</key>
                <string>{5,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,204},{88,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,42},{92,36}}</string>
                <key>offset</key>
                <string>{6,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,208},{92,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,140},{94,38}}</string>
                <key>offset</key>
                <string>{7,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,210},{94,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,42},{96,36}}</string>
                <key>offset</key>
                <string>{9,-33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,215},{96,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,366},{98,36}}</string>
                <key>offset</key>
                <string>{11,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,218},{98,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,366},{98,40}}</string>
                <key>offset</key>
                <string>{13,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,217},{98,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,264},{100,44}}</string>
                <key>offset</key>
                <string>{15,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,216},{100,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{102,40}}</string>
                <key>offset</key>
                <string>{17,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,224},{102,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,376},{104,36}}</string>
                <key>offset</key>
                <string>{18,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,227},{104,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,404},{106,36}}</string>
                <key>offset</key>
                <string>{20,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,225},{106,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,42},{108,36}}</string>
                <key>offset</key>
                <string>{23,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,223},{108,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,154},{108,38}}</string>
                <key>offset</key>
                <string>{25,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,219},{108,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,266},{108,38}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,217},{108,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,42},{110,38}}</string>
                <key>offset</key>
                <string>{30,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,220},{110,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,154},{110,36}}</string>
                <key>offset</key>
                <string>{34,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,223},{110,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,288},{114,36}}</string>
                <key>offset</key>
                <string>{36,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,226},{114,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{118,36}}</string>
                <key>offset</key>
                <string>{37,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,229},{118,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{120,38}}</string>
                <key>offset</key>
                <string>{39,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,230},{120,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,42},{122,38}}</string>
                <key>offset</key>
                <string>{39,-49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,230},{122,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{122,38}}</string>
                <key>offset</key>
                <string>{40,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{122,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5035.png</key>
            <dict>
                <key>frame</key>
                <string>{{258,2},{124,38}}</string>
                <key>offset</key>
                <string>{41,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{124,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5036.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{126,38}}</string>
                <key>offset</key>
                <string>{41,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,230},{126,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{126,38}}</string>
                <key>offset</key>
                <string>{42,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,230},{126,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1004_2_4.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8194f6fad508291f020fb899c656fe46:1/1$</string>
            <key>textureFileName</key>
            <string>wj1004_2_4.png</string>
        </dict>
    </dict>
</plist>
