<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1001_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,376},{42,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,205},{42,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{150,458},{42,50}}</string>
                <key>offset</key>
                <string>{-16,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,203},{42,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,458},{46,50}}</string>
                <key>offset</key>
                <string>{-20,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,406},{48,50}}</string>
                <key>offset</key>
                <string>{-22,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,204},{48,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,424},{48,50}}</string>
                <key>offset</key>
                <string>{-20,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,202},{48,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,70},{54,50}}</string>
                <key>offset</key>
                <string>{-16,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,200},{54,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,424},{58,48}}</string>
                <key>offset</key>
                <string>{-12,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,200},{58,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{60,48}}</string>
                <key>offset</key>
                <string>{-7,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,122},{64,42}}</string>
                <key>offset</key>
                <string>{-5,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,200},{64,42}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{66,40}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,199},{66,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,366},{68,38}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,198},{68,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{70,34}}</string>
                <key>offset</key>
                <string>{3,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,199},{70,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,292},{72,32}}</string>
                <key>offset</key>
                <string>{6,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,199},{72,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{74,32}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,201},{74,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{74,32}}</string>
                <key>offset</key>
                <string>{10,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,203},{74,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,300},{72,36}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,202},{72,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,322},{70,42}}</string>
                <key>offset</key>
                <string>{15,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,200},{70,42}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,326},{68,48}}</string>
                <key>offset</key>
                <string>{18,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,198},{68,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,274},{72,46}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,203},{72,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,166},{74,44}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,208},{74,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,212},{78,44}}</string>
                <key>offset</key>
                <string>{22,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,212},{78,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,230},{82,42}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,217},{82,42}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,258},{82,32}}</string>
                <key>offset</key>
                <string>{27,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,225},{82,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,198},{84,30}}</string>
                <key>offset</key>
                <string>{30,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,225},{84,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{84,32}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,223},{84,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,162},{86,34}}</string>
                <key>offset</key>
                <string>{36,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,220},{86,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{88,34}}</string>
                <key>offset</key>
                <string>{38,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,219},{88,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,130},{90,30}}</string>
                <key>offset</key>
                <string>{40,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,222},{90,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{90,30}}</string>
                <key>offset</key>
                <string>{43,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,224},{90,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,98},{90,30}}</string>
                <key>offset</key>
                <string>{46,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,226},{90,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{92,30}}</string>
                <key>offset</key>
                <string>{48,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,229},{92,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,66},{96,30}}</string>
                <key>offset</key>
                <string>{49,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,231},{96,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{96,30}}</string>
                <key>offset</key>
                <string>{50,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,231},{96,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,34},{100,30}}</string>
                <key>offset</key>
                <string>{51,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,231},{100,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{100,30}}</string>
                <key>offset</key>
                <string>{52,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,231},{100,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5036.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{102,30}}</string>
                <key>offset</key>
                <string>{53,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,232},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,30}}</string>
                <key>offset</key>
                <string>{53,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,232},{106,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1001_1_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5773ec3a164ebf64564e03c9129e2df1:1/1$</string>
            <key>textureFileName</key>
            <string>wj1001_1_5.png</string>
        </dict>
    </dict>
</plist>
