<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2008_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,316},{58,58}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,188},{58,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{56,58}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,188},{56,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,434},{56,56}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,376},{54,52}}</string>
                <key>offset</key>
                <string>{1,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,194},{54,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{56,56}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,191},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,324},{56,58}}</string>
                <key>offset</key>
                <string>{2,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,189},{56,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,256},{58,60}}</string>
                <key>offset</key>
                <string>{3,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,187},{58,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,312},{62,62}}</string>
                <key>offset</key>
                <string>{6,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,185},{62,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,264},{66,58}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,188},{66,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{76,52}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,194},{76,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,170},{84,44}}</string>
                <key>offset</key>
                <string>{18,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{251,202},{84,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,226},{92,36}}</string>
                <key>offset</key>
                <string>{22,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,211},{92,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{96,32}}</string>
                <key>offset</key>
                <string>{24,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,214},{96,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,192},{98,32}}</string>
                <key>offset</key>
                <string>{26,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,218},{98,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{100,34}}</string>
                <key>offset</key>
                <string>{28,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,220},{100,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,156},{100,34}}</string>
                <key>offset</key>
                <string>{29,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,219},{100,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{102,30}}</string>
                <key>offset</key>
                <string>{29,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,221},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,124},{102,30}}</string>
                <key>offset</key>
                <string>{29,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,220},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{102,30}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,219},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,92},{104,30}}</string>
                <key>offset</key>
                <string>{30,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,218},{104,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,62},{106,28}}</string>
                <key>offset</key>
                <string>{31,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,221},{106,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,92},{108,30}}</string>
                <key>offset</key>
                <string>{32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,221},{108,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,62},{110,28}}</string>
                <key>offset</key>
                <string>{33,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,224},{110,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{110,28}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,226},{110,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,32},{112,28}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,226},{112,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{112,28}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,226},{112,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,28}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,226},{112,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,28}}</string>
                <key>offset</key>
                <string>{35,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,226},{112,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1008_2_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bc5d3963c4e4da0b6678efa2d386498:1/1$</string>
            <key>textureFileName</key>
            <string>wj1008_2_5.png</string>
        </dict>
    </dict>
</plist>
