<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1001_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{44,50}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,204},{44,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{44,50}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,204},{44,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,152},{44,48}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,205},{44,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,152},{46,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,205},{46,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,202},{44,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,205},{44,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,202},{46,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,205},{46,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,152},{46,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,205},{46,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,50},{46,50}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,158},{46,50}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,106},{46,50}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,54},{46,50}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,158},{48,50}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,204},{48,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,106},{48,50}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,204},{48,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{48,50}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,204},{48,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{48,50}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,204},{48,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,98},{48,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{48,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,104},{46,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,205},{46,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,54},{48,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{48,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,50},{48,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{48,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,100},{46,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,205},{46,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{46,50}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,2},{46,50}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,2},{46,50}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,210},{44,48}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,205},{44,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{44,50}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,204},{44,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1001_1_1.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4d6e31dbde7e776393fd6d0fc3f2633:1/1$</string>
            <key>textureFileName</key>
            <string>wj1001_1_1.png</string>
        </dict>
    </dict>
</plist>
