<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1007_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,430},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,430},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,428},{58,54}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,308},{58,54}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,370},{58,54}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,184},{58,54}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,252},{60,54}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,192},{60,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,252},{58,54}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,314},{58,54}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,126},{62,56}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,190},{62,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,194},{64,56}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,190},{64,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,200},{66,56}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,190},{66,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,2},{66,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,190},{66,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,72},{68,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,2},{68,56}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{68,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,70},{66,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,190},{66,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{66,56}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{66,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,142},{66,56}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,190},{66,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,128},{64,56}}</string>
                <key>offset</key>
                <string>{13,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{64,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,258},{64,56}}</string>
                <key>offset</key>
                <string>{12,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,190},{64,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{68,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{68,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{68,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{68,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,72},{68,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{68,54}}</string>
                <key>offset</key>
                <string>{15,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,192},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,324},{60,56}}</string>
                <key>offset</key>
                <string>{11,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,190},{60,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,60},{42,64}}</string>
                <key>offset</key>
                <string>{2,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,182},{42,64}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,386},{40,62}}</string>
                <key>offset</key>
                <string>{2,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,184},{40,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,364},{50,56}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{50,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,430},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1007_1_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6579db049225f9579f4adec0870c0338:1/1$</string>
            <key>textureFileName</key>
            <string>wj1007_1_3.png</string>
        </dict>
    </dict>
</plist>
