<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2009_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,230},{56,56}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{56,56}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,238},{58,54}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{230,224},{58,54}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,178},{58,54}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,174},{58,54}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,174},{58,54}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{450,118},{58,54}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,118},{58,54}}</string>
                <key>offset</key>
                <string>{-6,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,178},{70,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,188},{70,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,118},{72,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{74,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,188},{74,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,62},{76,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,188},{76,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,122},{76,56}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,190},{76,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{78,56}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,190},{78,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,60},{78,56}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,190},{78,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,60},{78,56}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,190},{78,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,60},{78,56}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,190},{78,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,120},{76,56}}</string>
                <key>offset</key>
                <string>{16,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,190},{76,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,118},{76,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,190},{76,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,62},{76,56}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,190},{76,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,188},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,188},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,188},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{78,56}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,190},{78,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{78,56}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,190},{78,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{78,56}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,190},{78,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,120},{76,56}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,190},{76,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,180},{68,58}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,188},{68,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,176},{46,72}}</string>
                <key>offset</key>
                <string>{2,-10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,174},{46,72}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,238},{46,68}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,178},{46,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,240},{56,56}}</string>
                <key>offset</key>
                <string>{-6,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,230},{56,56}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1009_2_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:acb4078b4958a9291271199d6ca7e059:1/1$</string>
            <key>textureFileName</key>
            <string>wj1009_2_3.png</string>
        </dict>
    </dict>
</plist>
