<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1001_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,54},{42,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,205},{42,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,50}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,203},{42,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,54},{38,50}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,203},{38,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,2},{40,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,205},{40,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,54},{42,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,205},{42,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1001_1_1.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:57368e3dc192d3972d9d8781a9d14671:1/1$</string>
            <key>textureFileName</key>
            <string>wj1001_1_1.png</string>
        </dict>
    </dict>
</plist>
