<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1005_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,94},{60,48}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{92,52}}</string>
                <key>offset</key>
                <string>{-46,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,202},{92,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,2},{90,52}}</string>
                <key>offset</key>
                <string>{-45,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{185,202},{90,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{96,48}}</string>
                <key>offset</key>
                <string>{-49,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{178,206},{96,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,156},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,156},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,194},{62,52}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{62,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1005_1_3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:92fb3f802bf149b8a6d208589289bab6:1/1$</string>
            <key>textureFileName</key>
            <string>wj1005_1_3.png</string>
        </dict>
    </dict>
</plist>
