<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2004_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,248},{62,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,212},{62,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,206},{62,48}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,304},{60,48}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,262},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,450},{58,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{58,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{58,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,205},{58,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{58,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,205},{58,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,362},{58,48}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,205},{58,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,308},{58,50}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,204},{58,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,258},{60,48}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,206},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{44,60}}</string>
                <key>offset</key>
                <string>{4,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,193},{44,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,406},{56,52}}</string>
                <key>offset</key>
                <string>{-2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,201},{56,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{64,46}}</string>
                <key>offset</key>
                <string>{-6,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,207},{64,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,256},{62,46}}</string>
                <key>offset</key>
                <string>{-5,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,207},{62,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,460},{56,50}}</string>
                <key>offset</key>
                <string>{-2,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,205},{56,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,98},{62,56}}</string>
                <key>offset</key>
                <string>{-4,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,207},{62,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,46}}</string>
                <key>offset</key>
                <string>{-10,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,207},{74,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{60,64}}</string>
                <key>offset</key>
                <string>{-3,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,189},{60,64}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,408},{54,54}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,199},{54,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,154},{56,52}}</string>
                <key>offset</key>
                <string>{-1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,201},{56,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{58,50}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,203},{58,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,208},{60,48}}</string>
                <key>offset</key>
                <string>{-2,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{62,48}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,162},{62,48}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{62,48}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,64},{64,46}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,207},{64,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,50},{64,46}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,207},{64,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{144,2},{64,46}}</string>
                <key>offset</key>
                <string>{-3,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,207},{64,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,98},{56,54}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,199},{56,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,360},{46,58}}</string>
                <key>offset</key>
                <string>{2,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,195},{46,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4034.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,354},{50,58}}</string>
                <key>offset</key>
                <string>{-2,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,199},{50,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,50},{64,48}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,205},{64,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4036.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,156},{62,48}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4037.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,112},{62,48}}</string>
                <key>offset</key>
                <string>{-13,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_4038.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1004_2_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cb4c476a779e48471b1aa0bc3233d752:1/1$</string>
            <key>textureFileName</key>
            <string>wj1004_2_4.png</string>
        </dict>
    </dict>
</plist>
