<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1001_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{42,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,205},{42,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,130},{40,48}}</string>
                <key>offset</key>
                <string>{-11,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,205},{40,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,212},{38,48}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,206},{38,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,172},{38,48}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,206},{38,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,328},{36,48}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,206},{36,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,290},{36,48}}</string>
                <key>offset</key>
                <string>{-11,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{246,206},{36,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,252},{36,48}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,206},{36,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,404},{34,48}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,206},{34,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,402},{34,48}}</string>
                <key>offset</key>
                <string>{-13,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,206},{34,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,366},{34,48}}</string>
                <key>offset</key>
                <string>{-14,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,206},{34,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,474},{34,46}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,208},{34,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,454},{34,46}}</string>
                <key>offset</key>
                <string>{-14,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,208},{34,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,438},{34,46}}</string>
                <key>offset</key>
                <string>{-8,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,207},{34,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,348},{36,54}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,199},{36,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,292},{36,54}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,199},{36,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,348},{36,54}}</string>
                <key>offset</key>
                <string>{0,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,199},{36,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,234},{36,56}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,176},{36,56}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{36,56}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{36,56}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,118},{36,56}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{36,56}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,60},{36,56}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{36,56}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{36,56}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,56}}</string>
                <key>offset</key>
                <string>{1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,197},{36,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{36,54}}</string>
                <key>offset</key>
                <string>{-1,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,199},{36,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{36,52}}</string>
                <key>offset</key>
                <string>{-3,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,201},{36,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,404},{38,52}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,202},{38,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,88},{40,48}}</string>
                <key>offset</key>
                <string>{-8,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,205},{40,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,46},{40,48}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,205},{40,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{42,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,205},{42,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1001_1_4.png</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d08bba4d0e7310d812a3dda4db08f0c7:1/1$</string>
            <key>textureFileName</key>
            <string>wj1001_1_4.png</string>
        </dict>
    </dict>
</plist>
