<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2005_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{58,52}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,392},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,218},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2006.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,218},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2007.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,218},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2009.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,164},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,164},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,164},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2013.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,110},{58,52}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2014.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,110},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2015.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,110},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2017.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,56},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2018.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,56},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2019.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,56},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2021.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2022.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2023.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{58,52}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1005_2_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:58e462fb5ae83edf0ff91c290ca0d73e:1/1$</string>
            <key>textureFileName</key>
            <string>wj1005_2_2.png</string>
        </dict>
    </dict>
</plist>
