<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2004_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,300},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,252},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,152},{62,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{62,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,102},{62,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,102},{62,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,102},{62,48}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,52},{62,48}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,52},{62,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{62,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,252},{60,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,250},{60,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,2},{62,48}}</string>
                <key>offset</key>
                <string>{-18,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,202},{60,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{60,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{62,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,202},{60,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,152},{62,46}}</string>
                <key>offset</key>
                <string>{-17,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,207},{62,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,200},{60,48}}</string>
                <key>offset</key>
                <string>{-16,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,302},{60,46}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,207},{60,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,302},{60,46}}</string>
                <key>offset</key>
                <string>{-16,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,207},{60,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,152},{60,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,102},{60,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,48}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,52},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,2},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2004_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,300},{60,48}}</string>
                <key>offset</key>
                <string>{-14,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1004_2_1.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d311d6ce744b5083e3156cca0d418ae0:1/1$</string>
            <key>textureFileName</key>
            <string>wj1004_2_1.png</string>
        </dict>
    </dict>
</plist>
