<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2005_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,268},{60,52}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,220},{60,52}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,162},{62,52}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{62,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,216},{62,50}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,203},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,168},{62,50}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,203},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,322},{60,50}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,203},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,394},{60,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{52,394},{60,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,344},{60,48}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,206},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,168},{62,50}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,205},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,274},{60,50}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,206},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{60,52}}</string>
                <key>offset</key>
                <string>{-12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,204},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,2},{44,62}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,194},{44,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,448},{56,52}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,201},{56,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{66,50}}</string>
                <key>offset</key>
                <string>{-9,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,203},{66,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,274},{60,50}}</string>
                <key>offset</key>
                <string>{-7,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,203},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,456},{54,52}}</string>
                <key>offset</key>
                <string>{-3,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,203},{54,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,106},{60,62}}</string>
                <key>offset</key>
                <string>{-5,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,201},{60,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,52}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{70,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{58,62}}</string>
                <key>offset</key>
                <string>{-4,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,191},{58,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,456},{54,54}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,199},{54,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,394},{56,52}}</string>
                <key>offset</key>
                <string>{-4,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,201},{56,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,326},{58,50}}</string>
                <key>offset</key>
                <string>{-5,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,203},{58,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,238},{60,52}}</string>
                <key>offset</key>
                <string>{-5,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,201},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{132,108},{62,52}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,201},{62,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{64,52}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,201},{64,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{64,50}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,203},{64,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,56},{64,50}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,203},{64,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,54},{64,50}}</string>
                <key>offset</key>
                <string>{-6,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,203},{64,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,66},{62,48}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{54,54}}</string>
                <key>offset</key>
                <string>{-4,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,199},{54,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,394},{44,60}}</string>
                <key>offset</key>
                <string>{0,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,195},{44,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{48,60}}</string>
                <key>offset</key>
                <string>{-4,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,200},{48,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4035.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,292},{60,50}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,203},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4036.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{58,50}}</string>
                <key>offset</key>
                <string>{-13,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{233,203},{58,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4037.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,130},{58,52}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_4038.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,184},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1005_2_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0dff6b7db1640b00b42439d818cfceb2:1/1$</string>
            <key>textureFileName</key>
            <string>wj1005_2_3.png</string>
        </dict>
    </dict>
</plist>
