<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2002_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,308},{46,52}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,201},{46,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,426},{50,52}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,202},{50,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{54,52}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,202},{54,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{58,50}}</string>
                <key>offset</key>
                <string>{-21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,204},{58,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,350},{58,52}}</string>
                <key>offset</key>
                <string>{-20,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,200},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{148,308},{58,54}}</string>
                <key>offset</key>
                <string>{-18,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,197},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{60,54}}</string>
                <key>offset</key>
                <string>{-14,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,195},{60,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{64,52}}</string>
                <key>offset</key>
                <string>{-10,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,195},{64,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,294},{66,54}}</string>
                <key>offset</key>
                <string>{-7,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,196},{66,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,252},{72,54}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,199},{72,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,192},{78,58}}</string>
                <key>offset</key>
                <string>{0,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,198},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,142},{80,58}}</string>
                <key>offset</key>
                <string>{3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,197},{80,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,120},{80,58}}</string>
                <key>offset</key>
                <string>{5,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,196},{80,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,202},{80,52}}</string>
                <key>offset</key>
                <string>{8,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,201},{80,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,180},{80,54}}</string>
                <key>offset</key>
                <string>{10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,200},{80,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{84,236},{78,56}}</string>
                <key>offset</key>
                <string>{13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,199},{78,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{76,60}}</string>
                <key>offset</key>
                <string>{16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,196},{76,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,56},{76,60}}</string>
                <key>offset</key>
                <string>{18,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,196},{76,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,134},{80,56}}</string>
                <key>offset</key>
                <string>{20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,200},{80,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{82,52}}</string>
                <key>offset</key>
                <string>{22,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,204},{82,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,72},{86,46}}</string>
                <key>offset</key>
                <string>{23,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,210},{86,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{90,46}}</string>
                <key>offset</key>
                <string>{24,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,214},{90,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{92,34}}</string>
                <key>offset</key>
                <string>{27,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,223},{92,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,38},{92,32}}</string>
                <key>offset</key>
                <string>{30,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,224},{92,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{92,36}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,221},{92,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1002_2_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:02595dfbf36b580523d6714fc899ff8c:1/1$</string>
            <key>textureFileName</key>
            <string>wj1002_2_5.png</string>
        </dict>
    </dict>
</plist>
