<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1007_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,60},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,60},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,60},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,2},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,2},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,118},{58,54}}</string>
                <key>offset</key>
                <string>{3,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,292},{56,54}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,192},{56,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,290},{56,54}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,192},{56,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,234},{56,54}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,192},{56,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,290},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,234},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,176},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,402},{54,56}}</string>
                <key>offset</key>
                <string>{4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,190},{54,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{54,56}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,191},{54,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,346},{54,56}}</string>
                <key>offset</key>
                <string>{4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,191},{54,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,232},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,176},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,118},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,174},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,118},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1007_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{56,56}}</string>
                <key>offset</key>
                <string>{3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1007_1_0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0f3026bc715b86820637ace66b7a505f:1/1$</string>
            <key>textureFileName</key>
            <string>wj1007_1_0.png</string>
        </dict>
    </dict>
</plist>
