<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1005_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,278},{60,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,201},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,276},{60,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,201},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,264},{60,52}}</string>
                <key>offset</key>
                <string>{-19,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,201},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,236},{60,52}}</string>
                <key>offset</key>
                <string>{-18,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,199},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,230},{60,52}}</string>
                <key>offset</key>
                <string>{-17,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,198},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,210},{66,52}}</string>
                <key>offset</key>
                <string>{-13,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,196},{66,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,182},{72,52}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,194},{72,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,162},{76,46}}</string>
                <key>offset</key>
                <string>{-7,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,196},{76,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,150},{78,44}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,197},{78,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{82,46}}</string>
                <key>offset</key>
                <string>{-2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{82,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{92,230},{84,46}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,196},{84,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,226},{86,48}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,195},{86,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{88,40}}</string>
                <key>offset</key>
                <string>{3,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,200},{88,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,192},{90,36}}</string>
                <key>offset</key>
                <string>{4,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,202},{90,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,188},{92,36}}</string>
                <key>offset</key>
                <string>{5,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,206},{92,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,150},{94,36}}</string>
                <key>offset</key>
                <string>{5,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,210},{94,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,190},{96,36}}</string>
                <key>offset</key>
                <string>{6,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,214},{96,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,152},{98,36}}</string>
                <key>offset</key>
                <string>{8,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,217},{98,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,150},{98,40}}</string>
                <key>offset</key>
                <string>{11,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,215},{98,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,116},{102,44}}</string>
                <key>offset</key>
                <string>{13,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,214},{102,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,78},{102,38}}</string>
                <key>offset</key>
                <string>{15,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{239,222},{102,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{106,34}}</string>
                <key>offset</key>
                <string>{17,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,225},{106,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,114},{110,34}}</string>
                <key>offset</key>
                <string>{19,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,224},{110,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,112},{112,36}}</string>
                <key>offset</key>
                <string>{22,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,220},{112,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,78},{114,36}}</string>
                <key>offset</key>
                <string>{25,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,219},{114,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,74},{116,40}}</string>
                <key>offset</key>
                <string>{28,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,216},{116,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,74},{116,38}}</string>
                <key>offset</key>
                <string>{31,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,218},{116,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,74},{116,36}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,222},{116,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{118,36}}</string>
                <key>offset</key>
                <string>{35,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,224},{118,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,40},{120,36}}</string>
                <key>offset</key>
                <string>{37,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,226},{120,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{256,38},{122,34}}</string>
                <key>offset</key>
                <string>{38,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,230},{122,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5033.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,38},{124,34}}</string>
                <key>offset</key>
                <string>{39,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,230},{124,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{126,34}}</string>
                <key>offset</key>
                <string>{39,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,230},{126,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5035.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,2},{126,34}}</string>
                <key>offset</key>
                <string>{40,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,230},{126,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5036.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{128,34}}</string>
                <key>offset</key>
                <string>{41,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,230},{128,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,34}}</string>
                <key>offset</key>
                <string>{41,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,230},{130,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1005_1_5.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18b1fc491a7749fb07ff0bbe3ae371d8:1/1$</string>
            <key>textureFileName</key>
            <string>wj1005_1_5.png</string>
        </dict>
    </dict>
</plist>
