<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2009_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,440},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,342},{56,58}}</string>
                <key>offset</key>
                <string>{-2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,188},{56,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,440},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,400},{54,56}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,190},{54,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,384},{54,58}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,188},{54,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,332},{56,58}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,188},{56,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,324},{58,60}}</string>
                <key>offset</key>
                <string>{2,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,186},{58,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,270},{62,60}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,186},{62,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,282},{70,58}}</string>
                <key>offset</key>
                <string>{9,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,188},{70,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{82,54}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,192},{82,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,230},{90,50}}</string>
                <key>offset</key>
                <string>{18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,196},{90,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,174},{94,44}}</string>
                <key>offset</key>
                <string>{21,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,204},{94,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,228},{96,38}}</string>
                <key>offset</key>
                <string>{23,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,209},{96,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,196},{98,32}}</string>
                <key>offset</key>
                <string>{25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,216},{98,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,130},{102,32}}</string>
                <key>offset</key>
                <string>{26,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,220},{102,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{100,30}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,221},{100,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,164},{100,30}}</string>
                <key>offset</key>
                <string>{28,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,220},{100,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{100,30}}</string>
                <key>offset</key>
                <string>{29,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,220},{100,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{102,30}}</string>
                <key>offset</key>
                <string>{30,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,219},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{104,32}}</string>
                <key>offset</key>
                <string>{30,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,217},{104,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,98},{104,30}}</string>
                <key>offset</key>
                <string>{31,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,220},{104,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,66},{106,30}}</string>
                <key>offset</key>
                <string>{32,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,221},{106,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,66},{108,30}}</string>
                <key>offset</key>
                <string>{33,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,223},{108,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{110,30}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,224},{110,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,34},{110,30}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,224},{110,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{110,30}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,224},{110,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{110,30}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,224},{110,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,30}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,224},{112,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1009_2_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01c181b31b9e1fc01e3a505dd96d91e2:1/1$</string>
            <key>textureFileName</key>
            <string>wj1009_2_5.png</string>
        </dict>
    </dict>
</plist>
