<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1001_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,444},{44,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,205},{44,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,444},{44,48}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{44,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,392},{46,50}}</string>
                <key>offset</key>
                <string>{-20,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,204},{46,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,392},{50,50}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,204},{50,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,452},{52,50}}</string>
                <key>offset</key>
                <string>{-21,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,202},{52,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{56,50}}</string>
                <key>offset</key>
                <string>{-17,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,200},{56,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,164},{60,48}}</string>
                <key>offset</key>
                <string>{-13,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,200},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,412},{64,48}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{235,198},{64,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{66,44}}</string>
                <key>offset</key>
                <string>{-6,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,198},{66,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,214},{68,42}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,197},{68,42}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,366},{72,38}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,198},{72,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{74,36}}</string>
                <key>offset</key>
                <string>{1,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,197},{74,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,286},{76,34}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,197},{76,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{76,32}}</string>
                <key>offset</key>
                <string>{7,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,201},{76,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,356},{74,34}}</string>
                <key>offset</key>
                <string>{10,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,201},{74,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,322},{74,40}}</string>
                <key>offset</key>
                <string>{12,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,199},{74,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,364},{72,46}}</string>
                <key>offset</key>
                <string>{15,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,197},{72,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,92},{70,50}}</string>
                <key>offset</key>
                <string>{18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,196},{70,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,306},{74,48}}</string>
                <key>offset</key>
                <string>{19,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,202},{74,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{76,46}}</string>
                <key>offset</key>
                <string>{21,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,207},{76,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,258},{80,46}}</string>
                <key>offset</key>
                <string>{21,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,210},{80,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,240},{82,44}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,216},{82,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,210},{84,34}}</string>
                <key>offset</key>
                <string>{26,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,224},{84,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,206},{86,32}}</string>
                <key>offset</key>
                <string>{29,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,224},{86,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,172},{86,32}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,223},{86,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,2},{88,34}}</string>
                <key>offset</key>
                <string>{35,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,220},{88,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{92,36}}</string>
                <key>offset</key>
                <string>{37,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,217},{92,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,138},{94,32}}</string>
                <key>offset</key>
                <string>{39,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,220},{94,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{94,32}}</string>
                <key>offset</key>
                <string>{42,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,222},{94,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5030.png</key>
            <dict>
                <key>frame</key>
                <string>{{100,104},{94,32}}</string>
                <key>offset</key>
                <string>{45,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,225},{94,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5031.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{96,32}}</string>
                <key>offset</key>
                <string>{46,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,227},{96,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,70},{98,32}}</string>
                <key>offset</key>
                <string>{48,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,230},{98,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5033.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{100,32}}</string>
                <key>offset</key>
                <string>{49,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,230},{100,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5034.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,36},{102,32}}</string>
                <key>offset</key>
                <string>{50,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,230},{102,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5035.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{104,32}}</string>
                <key>offset</key>
                <string>{50,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,230},{104,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5036.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{106,32}}</string>
                <key>offset</key>
                <string>{51,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,230},{106,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,32}}</string>
                <key>offset</key>
                <string>{52,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,230},{108,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1001_1_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aed9caa8efe4e6bcffd41e5d6df6db9e:1/1$</string>
            <key>textureFileName</key>
            <string>wj1001_1_4.png</string>
        </dict>
    </dict>
</plist>
