<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2006_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,116},{68,54}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,60},{68,58}}</string>
                <key>offset</key>
                <string>{-13,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,197},{68,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,60},{68,54}}</string>
                <key>offset</key>
                <string>{-10,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,202},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,2},{112,56}}</string>
                <key>offset</key>
                <string>{-48,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,198},{112,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{116,54}}</string>
                <key>offset</key>
                <string>{-50,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{167,200},{116,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{112,52}}</string>
                <key>offset</key>
                <string>{-50,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{169,202},{112,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,116},{68,54}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1006_2_3.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8c19fc49f6335a8df2064631107426e1:1/1$</string>
            <key>textureFileName</key>
            <string>wj1006_2_3.png</string>
        </dict>
    </dict>
</plist>
