<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2001_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,174},{44,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{241,205},{44,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2001_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{50,50}}</string>
                <key>offset</key>
                <string>{-23,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,204},{50,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2001_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{54,36},{64,48}}</string>
                <key>offset</key>
                <string>{-8,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,198},{64,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2001_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,96},{76,34}}</string>
                <key>offset</key>
                <string>{4,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,197},{76,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2001_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,180},{70,50}}</string>
                <key>offset</key>
                <string>{18,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,196},{70,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2001_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{82,44}}</string>
                <key>offset</key>
                <string>{23,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,216},{82,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2001_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{92,36}}</string>
                <key>offset</key>
                <string>{37,-35}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,217},{92,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2001_5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,2},{98,32}}</string>
                <key>offset</key>
                <string>{48,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,230},{98,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2001_5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{108,32}}</string>
                <key>offset</key>
                <string>{52,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,230},{108,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1001_2_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a9d5acc118c36f72b7e1df3e9de17d10:1/1$</string>
            <key>textureFileName</key>
            <string>wj1001_2_5.png</string>
        </dict>
    </dict>
</plist>
