<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1003_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{46,54}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,201},{46,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,118},{30,58}}</string>
                <key>offset</key>
                <string>{-3,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,197},{30,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,58},{36,58}}</string>
                <key>offset</key>
                <string>{4,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,196},{36,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{40,54}}</string>
                <key>offset</key>
                <string>{6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,200},{40,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,222},{46,52}}</string>
                <key>offset</key>
                <string>{8,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{260,202},{46,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,230},{48,50}}</string>
                <key>offset</key>
                <string>{10,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{261,204},{48,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,178},{50,50}}</string>
                <key>offset</key>
                <string>{11,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,204},{50,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,272},{52,48}}</string>
                <key>offset</key>
                <string>{12,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,206},{52,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{68,56}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,204},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3010.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,58},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,205},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3011.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,168},{68,52}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,206},{68,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3012.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,114},{68,52}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,206},{68,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{68,52}}</string>
                <key>offset</key>
                <string>{-25,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,206},{68,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,204},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3015.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,58},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,204},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3016.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,2},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,204},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3017.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,2},{68,54}}</string>
                <key>offset</key>
                <string>{-25,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,204},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3018.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,114},{68,52}}</string>
                <key>offset</key>
                <string>{-25,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,202},{68,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3019.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{66,52}}</string>
                <key>offset</key>
                <string>{-23,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,202},{66,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3020.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,168},{60,52}}</string>
                <key>offset</key>
                <string>{-20,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,202},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3021.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,222},{56,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,202},{56,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_3022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{46,54}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{240,201},{46,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1003_1_2.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6847e16b303e4a8a6bfd110bc021685c:1/1$</string>
            <key>textureFileName</key>
            <string>wj1003_1_2.png</string>
        </dict>
    </dict>
</plist>
