<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2009_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,444},{56,56}}</string>
                <key>offset</key>
                <string>{-4,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,386},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,408},{56,58}}</string>
                <key>offset</key>
                <string>{-2,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,189},{56,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,408},{54,58}}</string>
                <key>offset</key>
                <string>{-1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,190},{54,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{174,360},{54,56}}</string>
                <key>offset</key>
                <string>{0,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,190},{54,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,350},{56,58}}</string>
                <key>offset</key>
                <string>{0,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,188},{56,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,326},{58,58}}</string>
                <key>offset</key>
                <string>{1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,188},{58,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{64,60}}</string>
                <key>offset</key>
                <string>{4,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,186},{64,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,300},{72,58}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,270},{82,54}}</string>
                <key>offset</key>
                <string>{14,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,192},{82,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{90,50}}</string>
                <key>offset</key>
                <string>{18,-21}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,196},{90,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,202},{96,44}}</string>
                <key>offset</key>
                <string>{20,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,204},{96,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,230},{98,38}}</string>
                <key>offset</key>
                <string>{22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,209},{98,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{100,34}}</string>
                <key>offset</key>
                <string>{23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,214},{100,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,98},{102,34}}</string>
                <key>offset</key>
                <string>{25,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,219},{102,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{102,32}}</string>
                <key>offset</key>
                <string>{26,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,220},{102,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,198},{102,30}}</string>
                <key>offset</key>
                <string>{27,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,220},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,166},{102,30}}</string>
                <key>offset</key>
                <string>{28,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,220},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{108,132},{104,32}}</string>
                <key>offset</key>
                <string>{28,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,218},{104,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,132},{104,32}}</string>
                <key>offset</key>
                <string>{29,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,218},{104,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,98},{106,32}}</string>
                <key>offset</key>
                <string>{30,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,219},{106,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,98},{108,32}}</string>
                <key>offset</key>
                <string>{30,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,220},{108,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,66},{110,30}}</string>
                <key>offset</key>
                <string>{31,-38}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,223},{110,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{110,30}}</string>
                <key>offset</key>
                <string>{32,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,224},{110,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,34},{112,30}}</string>
                <key>offset</key>
                <string>{32,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,224},{112,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{112,30}}</string>
                <key>offset</key>
                <string>{32,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,224},{112,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,30}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,224},{112,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2009_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,30}}</string>
                <key>offset</key>
                <string>{33,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,224},{112,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1009_2_4.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:29590dda25d4a479d64ab5e878b7b6ad:1/1$</string>
            <key>textureFileName</key>
            <string>wj1009_2_4.png</string>
        </dict>
    </dict>
</plist>
