<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1001_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{42,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,205},{42,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,2},{36,52}}</string>
                <key>offset</key>
                <string>{5,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{262,201},{36,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,108},{48,46}}</string>
                <key>offset</key>
                <string>{11,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,207},{48,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{66,56}}</string>
                <key>offset</key>
                <string>{-30,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,201},{66,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,40},{66,50}}</string>
                <key>offset</key>
                <string>{-29,-32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{213,207},{66,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{64,48}}</string>
                <key>offset</key>
                <string>{-30,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,208},{64,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1001_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{42,48}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,205},{42,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1001_1_3.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:939b34929f5d1a015be2ff420008e909:1/1$</string>
            <key>textureFileName</key>
            <string>wj1001_1_3.png</string>
        </dict>
    </dict>
</plist>
