<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2006_1001.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,454},{66,56}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,198},{66,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1002.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,398},{68,54}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1003.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,398},{68,54}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1004.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,228},{68,56}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,198},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{70,56}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,198},{70,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1006.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,2},{70,56}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,198},{70,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1007.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,2},{70,56}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,198},{70,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{70,56}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,198},{70,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1009.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,172},{68,56}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,198},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1010.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,172},{70,54}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{70,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1011.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,342},{68,54}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1012.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,342},{68,54}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1013.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,116},{70,54}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,200},{70,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,118},{70,54}}</string>
                <key>offset</key>
                <string>{-18,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,200},{70,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1015.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,414},{68,54}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1016.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,344},{68,54}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1017.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,116},{70,54}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{70,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1018.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,60},{70,54}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{70,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1019.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,60},{70,54}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,200},{70,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{68,54}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{68,54}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{225,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1022.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,286},{68,54}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1023.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{68,54}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1024.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,286},{68,54}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1025.png</key>
            <dict>
                <key>frame</key>
                <string>{{142,230},{68,54}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{68,54}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,200},{68,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{68,56}}</string>
                <key>offset</key>
                <string>{-16,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,198},{68,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2006_1028.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,454},{66,56}}</string>
                <key>offset</key>
                <string>{-15,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{227,198},{66,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1006_2_0.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:527bf2505046c096e7149bf713db291f:1/1$</string>
            <key>textureFileName</key>
            <string>wj1006_2_0.png</string>
        </dict>
    </dict>
</plist>
