<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2008_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,148},{58,58}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,188},{58,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,208},{58,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,76},{58,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,388},{58,54}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{232,268},{58,54}}</string>
                <key>offset</key>
                <string>{-3,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,328},{58,54}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,208},{58,54}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,268},{58,54}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,268},{58,54}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,366},{68,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,188},{68,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,438},{68,58}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,188},{68,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,294},{70,58}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,188},{70,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{72,58}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{72,58}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{72,56}}</string>
                <key>offset</key>
                <string>{19,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,190},{72,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,298},{72,56}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,190},{72,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,2},{72,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{300,2},{72,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,222},{70,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,188},{70,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,76},{70,58}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,188},{70,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,150},{70,58}}</string>
                <key>offset</key>
                <string>{14,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,188},{70,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{74,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,188},{74,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,2},{72,58}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,2},{72,58}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,2},{72,58}}</string>
                <key>offset</key>
                <string>{18,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{72,56}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,190},{72,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,150},{72,56}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,190},{72,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,366},{70,56}}</string>
                <key>offset</key>
                <string>{18,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,190},{70,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{64,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{258,190},{64,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,436},{44,68}}</string>
                <key>offset</key>
                <string>{4,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,178},{44,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,436},{42,68}}</string>
                <key>offset</key>
                <string>{2,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{256,178},{42,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,328},{50,58}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,188},{50,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2008_4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,148},{58,58}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,188},{58,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1008_2_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3d041b0ae11ac54fe68305e7a6ca6197:1/1$</string>
            <key>textureFileName</key>
            <string>wj1008_2_3.png</string>
        </dict>
    </dict>
</plist>
