<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1008_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{58,58}}</string>
                <key>offset</key>
                <string>{-3,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{243,188},{58,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{56,58}}</string>
                <key>offset</key>
                <string>{-1,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,188},{56,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,390},{56,56}}</string>
                <key>offset</key>
                <string>{-1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,448},{56,52}}</string>
                <key>offset</key>
                <string>{0,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{247,194},{56,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{56,56}}</string>
                <key>offset</key>
                <string>{1,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,191},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5006.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,320},{58,58}}</string>
                <key>offset</key>
                <string>{1,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,189},{58,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{58,60}}</string>
                <key>offset</key>
                <string>{2,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,187},{58,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,310},{62,62}}</string>
                <key>offset</key>
                <string>{5,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,185},{62,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5009.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,260},{68,58}}</string>
                <key>offset</key>
                <string>{8,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,188},{68,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5010.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,232},{76,52}}</string>
                <key>offset</key>
                <string>{13,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{250,194},{76,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5011.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,144},{86,44}}</string>
                <key>offset</key>
                <string>{17,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{249,202},{86,44}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,230},{94,38}}</string>
                <key>offset</key>
                <string>{21,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,210},{94,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{102,226},{96,32}}</string>
                <key>offset</key>
                <string>{23,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,215},{96,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{98,32}}</string>
                <key>offset</key>
                <string>{25,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,218},{98,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5015.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,158},{100,34}}</string>
                <key>offset</key>
                <string>{27,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,219},{100,34}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{100,32}}</string>
                <key>offset</key>
                <string>{28,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,220},{100,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5017.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,194},{100,30}}</string>
                <key>offset</key>
                <string>{29,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,221},{100,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{102,30}}</string>
                <key>offset</key>
                <string>{29,-35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,220},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5019.png</key>
            <dict>
                <key>frame</key>
                <string>{{106,126},{102,30}}</string>
                <key>offset</key>
                <string>{29,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,219},{102,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5020.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,96},{102,32}}</string>
                <key>offset</key>
                <string>{30,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,217},{102,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5021.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,94},{104,30}}</string>
                <key>offset</key>
                <string>{31,-34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,219},{104,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{106,30}}</string>
                <key>offset</key>
                <string>{32,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,221},{106,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5023.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,62},{108,30}}</string>
                <key>offset</key>
                <string>{33,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,222},{108,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5024.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,32},{110,28}}</string>
                <key>offset</key>
                <string>{33,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,226},{110,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,32},{110,30}}</string>
                <key>offset</key>
                <string>{34,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,224},{110,30}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5026.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,32},{110,28}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,226},{110,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{112,28}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,226},{112,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1008_5028.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{112,28}}</string>
                <key>offset</key>
                <string>{34,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,226},{112,28}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1008_1_5.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18358aa5cce5d7e351cb122379322a57:1/1$</string>
            <key>textureFileName</key>
            <string>wj1008_1_5.png</string>
        </dict>
    </dict>
</plist>
