<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1005_3001.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3002.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,120},{60,52}}</string>
                <key>offset</key>
                <string>{-14,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{62,52}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{62,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3004.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,2},{62,52}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,201},{62,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3005.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,160},{62,50}}</string>
                <key>offset</key>
                <string>{-12,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,203},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3006.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,226},{60,50}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,203},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3007.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,212},{60,50}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,203},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{62,50}}</string>
                <key>offset</key>
                <string>{-10,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,203},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{60,48}}</string>
                <key>offset</key>
                <string>{-9,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3010.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{64,52}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,202},{64,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3011.png</key>
            <dict>
                <key>frame</key>
                <string>{{68,2},{64,52}}</string>
                <key>offset</key>
                <string>{-31,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,202},{64,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{64,52}}</string>
                <key>offset</key>
                <string>{-32,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{211,202},{64,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3013.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,160},{62,50}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,204},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3014.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,108},{62,50}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,204},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3015.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{62,50}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,204},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3016.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,108},{62,50}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,204},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3017.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,56},{62,50}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,204},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3018.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,56},{62,50}}</string>
                <key>offset</key>
                <string>{-31,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,204},{62,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3019.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,212},{62,48}}</string>
                <key>offset</key>
                <string>{-32,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,206},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3020.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,262},{60,48}}</string>
                <key>offset</key>
                <string>{-29,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,205},{60,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,214},{60,50}}</string>
                <key>offset</key>
                <string>{-26,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,204},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3022.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,174},{60,50}}</string>
                <key>offset</key>
                <string>{-24,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,203},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3023.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,66},{60,52}}</string>
                <key>offset</key>
                <string>{-22,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,202},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3024.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,264},{58,52}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_3025.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,312},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1005_1_3.png</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:43fa74c96b1f4f12a5804cdacc75553e:1/1$</string>
            <key>textureFileName</key>
            <string>wj1005_1_3.png</string>
        </dict>
    </dict>
</plist>
