<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2005_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{58,54}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,201},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,54}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,58},{58,52}}</string>
                <key>offset</key>
                <string>{-17,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{58,52}}</string>
                <key>offset</key>
                <string>{-18,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,202},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1005_2_2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61ea70be4f99eb3c501bca57caa2d650:1/1$</string>
            <key>textureFileName</key>
            <string>wj1005_2_2.png</string>
        </dict>
    </dict>
</plist>
