<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2005_5001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{56,52}}</string>
                <key>offset</key>
                <string>{-15,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,201},{56,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_5004.png</key>
            <dict>
                <key>frame</key>
                <string>{{56,180},{60,52}}</string>
                <key>offset</key>
                <string>{-19,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{226,201},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_5008.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,108},{70,52}}</string>
                <key>offset</key>
                <string>{-9,-20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{231,194},{70,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_5013.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{86,46}}</string>
                <key>offset</key>
                <string>{2,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,196},{86,46}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_5018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{96,36}}</string>
                <key>offset</key>
                <string>{7,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,213},{96,36}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_5022.png</key>
            <dict>
                <key>frame</key>
                <string>{{128,44},{104,38}}</string>
                <key>offset</key>
                <string>{16,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{239,221},{104,38}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_5027.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{116,40}}</string>
                <key>offset</key>
                <string>{28,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{245,216},{116,40}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_5032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,36},{124,32}}</string>
                <key>offset</key>
                <string>{39,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,230},{124,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2005_5037.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{130,32}}</string>
                <key>offset</key>
                <string>{43,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,230},{130,32}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1005_2_5.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f339af3e1ebbc90f23354c86169a3e1d:1/1$</string>
            <key>textureFileName</key>
            <string>wj1005_2_5.png</string>
        </dict>
    </dict>
</plist>
