<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2002_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,66},{46,52}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,201},{46,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,2},{38,50}}</string>
                <key>offset</key>
                <string>{-12,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,204},{38,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{88,54},{36,50}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,204},{36,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,66},{36,60}}</string>
                <key>offset</key>
                <string>{-2,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,194},{36,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{38,62}}</string>
                <key>offset</key>
                <string>{-1,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,192},{38,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,66},{46,52}}</string>
                <key>offset</key>
                <string>{-12,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{240,201},{46,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1002_2_4.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5eb96a2506c254c40600becaa8ff643:1/1$</string>
            <key>textureFileName</key>
            <string>wj1002_2_4.png</string>
        </dict>
    </dict>
</plist>
