<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1003_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,54}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,201},{52,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,2},{44,52}}</string>
                <key>offset</key>
                <string>{-15,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,203},{44,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{76,56},{40,52}}</string>
                <key>offset</key>
                <string>{-17,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,203},{40,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{40,2},{34,60}}</string>
                <key>offset</key>
                <string>{-1,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,195},{34,60}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{36,64}}</string>
                <key>offset</key>
                <string>{0,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,191},{36,64}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1003_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{52,54}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,201},{52,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1003_1_4.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e5cfcc7270adba4b2ebb17bcb0eef9dc:1/1$</string>
            <key>textureFileName</key>
            <string>wj1003_1_4.png</string>
        </dict>
    </dict>
</plist>
