<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1009_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,410},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4002.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,132},{58,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4003.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,212},{58,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{243,190},{58,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,192},{58,54}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4005.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,272},{58,54}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4006.png</key>
            <dict>
                <key>frame</key>
                <string>{{178,350},{58,54}}</string>
                <key>offset</key>
                <string>{-4,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4007.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,410},{58,54}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4008.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,350},{58,54}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4009.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,62},{58,54}}</string>
                <key>offset</key>
                <string>{-5,-19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,192},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4010.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,62},{68,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{257,188},{68,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4011.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,138},{72,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,366},{72,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{256,188},{72,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4013.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,62},{74,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,188},{74,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{76,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,188},{76,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4015.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{78,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,188},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4016.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{76,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,188},{76,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4017.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{76,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,188},{76,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4018.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{76,58}}</string>
                <key>offset</key>
                <string>{15,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,188},{76,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4019.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,290},{74,56}}</string>
                <key>offset</key>
                <string>{15,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,190},{74,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4020.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,214},{74,56}}</string>
                <key>offset</key>
                <string>{14,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{252,190},{74,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4021.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{74,58}}</string>
                <key>offset</key>
                <string>{13,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,188},{74,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4022.png</key>
            <dict>
                <key>frame</key>
                <string>{{242,2},{78,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,188},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4023.png</key>
            <dict>
                <key>frame</key>
                <string>{{162,2},{78,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,188},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4024.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,2},{78,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,188},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4025.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{78,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,188},{78,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,62},{76,58}}</string>
                <key>offset</key>
                <string>{16,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{253,188},{76,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4027.png</key>
            <dict>
                <key>frame</key>
                <string>{{402,2},{76,58}}</string>
                <key>offset</key>
                <string>{17,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,188},{76,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4028.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,138},{74,56}}</string>
                <key>offset</key>
                <string>{17,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,190},{74,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4029.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,282},{66,58}}</string>
                <key>offset</key>
                <string>{12,-17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{254,188},{66,58}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4030.png</key>
            <dict>
                <key>frame</key>
                <string>{{78,440},{46,70}}</string>
                <key>offset</key>
                <string>{2,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,176},{46,70}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,212},{44,68}}</string>
                <key>offset</key>
                <string>{1,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,178},{44,68}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4032.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,332},{52,56}}</string>
                <key>offset</key>
                <string>{-5,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,190},{52,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1009_4033.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,410},{56,56}}</string>
                <key>offset</key>
                <string>{-3,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{244,190},{56,56}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1009_1_3.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e43bcc6b599cf190b018f8e197d6d2f5:1/1$</string>
            <key>textureFileName</key>
            <string>wj1009_1_3.png</string>
        </dict>
    </dict>
</plist>
