<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj1005_4001.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,54},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_4004.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{62,52}}</string>
                <key>offset</key>
                <string>{-13,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,201},{62,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_4012.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,2},{60,50}}</string>
                <key>offset</key>
                <string>{-12,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,206},{60,50}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_4014.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{44,62}}</string>
                <key>offset</key>
                <string>{2,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{255,194},{44,62}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_4026.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{62,52}}</string>
                <key>offset</key>
                <string>{-6,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,201},{62,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_4031.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,108},{62,48}}</string>
                <key>offset</key>
                <string>{-6,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,205},{62,48}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj1005_4038.png</key>
            <dict>
                <key>frame</key>
                <string>{{66,54},{58,52}}</string>
                <key>offset</key>
                <string>{-16,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,201},{58,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1005_1_4.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56d58e57f96803242acc8c1e1888e5d1:1/1$</string>
            <key>textureFileName</key>
            <string>wj1005_1_4.png</string>
        </dict>
    </dict>
</plist>
