<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj2002_2001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,106},{46,52}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,202},{46,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_2002.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{56,54}}</string>
                <key>offset</key>
                <string>{-10,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{237,200},{56,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_2003.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{60,52}}</string>
                <key>offset</key>
                <string>{-11,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,202},{60,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_2004.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,2},{58,54}}</string>
                <key>offset</key>
                <string>{-11,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{235,200},{58,54}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
            <key>wj2002_2005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,58},{46,52}}</string>
                <key>offset</key>
                <string>{-15,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,202},{46,52}}</string>
                <key>sourceSize</key>
                <string>{550,400}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj1002_2_2.png</string>
            <key>size</key>
            <string>{128,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d1d8a4ffa518a91c187697832e24988f:1/1$</string>
            <key>textureFileName</key>
            <string>wj1002_2_2.png</string>
        </dict>
    </dict>
</plist>
