<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>wj8002_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,134},{52,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,12},{52,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,196},{52,58}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,11},{52,58}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,134},{52,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,9},{52,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{54,60}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,9},{54,60}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,70},{56,62}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,7},{56,62}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{56,64}}</string>
                <key>offset</key>
                <string>{0,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{56,64}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{58,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{58,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,70},{56,66}}</string>
                <key>offset</key>
                <string>{0,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{56,66}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{46,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{46,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
            <key>wj8002_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,204},{46,56}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,12},{46,56}}</string>
                <key>sourceSize</key>
                <string>{80,80}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>wj8002.png</string>
            <key>size</key>
            <string>{256,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:227d6d5a64225adf7d46c3edafece4e3:1/1$</string>
            <key>textureFileName</key>
            <string>wj8002.png</string>
        </dict>
    </dict>
</plist>
